<!DOCTYPE html>
{% block html %}
{% block full_image %}
<html lang="en">
  {% endblock %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='marketo-live-circle-logo.png') }}">
    <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Marterial Design Icons and Color Scheme-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ url_for('static',  filename='heap-analytics.js') }}"></script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s);console.log("Facebook Pixel Loaded");}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '620768451460493'); // Insert your pixel ID here.
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=620768451460493&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    {% block head %}
    {% endblock %}
  </head>
  {% block navbar %}
  {% endblock %}
  {% block content %}
  {% block body_tag %}
  <body>
    {% endblock %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5TWXTV"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5TWXTV');
    </script>
    <!-- End Google Tag Manager -->
    {% block body_content %}
    {% endblock %}
    <div class="container-fluid container-custom">
      {% block page_content %}
      {% endblock %}
    </div>
  </body>
  {% endblock %}
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Material Design -->
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <!-- JS for Base -->
  <script src="{{ url_for('static', filename='base.js') }}"></script>
  {% block scripts %}
  {% endblock %}
  <!-- Footer -->
  <footer>
    <!-- Marketo Munchkin Tag -->
    <script type="text/javascript">
      (function () {
        var didInit = false;
        function initMunchkin() {
          if (didInit === false) {
            didInit = true;
            Munchkin.init('185-NGX-811', {
              cookieLifeDays: 365,
              cookieAnon: false,
              disableClickDelay: false
            });
          }
        }
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//munchkin.marketo.net/munchkin.js';
        s.onreadystatechange = function () {
          if (this.readyState == 'complete' || this.readyState == 'loaded') {
            initMunchkin();
          }
        };
        s.onload = initMunchkin;
        document.getElementsByTagName('head')[0].appendChild(s);
        console.log("Munchkin Tag Loaded");
      })();
    </script>
    {% block footer %}
    {% endblock %}
  </footer>
</html>
{% endblock %}