{% extends "en/base.html" %}

{% block full_image %}
<html class="full" lang="en">
{% endblock %}

{% block head %}
<title>Welcome to Marketo Live</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bg-img-en-home.css') }}">
{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-title">
      <img class="img-responsive title-img" src="{{ url_for('static', filename='marketo-live-image-white.png') }}">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 options">
      <div class="btn-container">
        <div class="button-container">
          <div data-toggle="modal" data-target=".solutions-options" class='button -border center'>Solutions</div>
          <div data-toggle="modal" data-target=".verticals-options" class='button -border center'>Verticals</div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade solutions-options" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <h1>Solutions</h1>
        <div class="modal-content-container">
          <div class="solution-container">
            <a href="/{{lang}}/solutions/email-marketing">
              <div class="solution-circle">
                <img class="img-responsive" src="{{ url_for('static', filename='solutions-email-marketing.png') }}">
                <p class="inner-circle">Email Marketing</p>
              </div>
            </a>
          </div>
          <div class="solution-container">
            <a href="/{{lang}}/solutions/lead-management">
              <div class="solution-circle">
                <img class="img-responsive" src="{{ url_for('static', filename='solutions-lead-management.png') }}">
                <p>Lead Management</p>
              </div>
            </a>
          </div>
          <div class="solution-container">
            <a href="/{{lang}}/solutions/consumer-marketing">
              <div class="solution-circle">
                <img class="img-responsive" src="{{ url_for('static', filename='solutions-consumer-marketing.png') }}">
                <p>Consumer Marketing</p>
              </div>
            </a>
          </div>
          <div class="solution-container">
            <a href="/{{lang}}/solutions/customer-base-marketing">
              <div class="solution-circle">  
                <img class="img-responsive" src="{{ url_for('static', filename='solutions-customer-base-marketing.png') }}">
                <p>Customer Base Marketing</p>
              </div>
            </a>
          </div>
          <div class="solution-container">
            <a href="/{{lang}}/solutions/mobile-marketing">
              <div class="solution-circle">
                <img class="img-responsive" src="{{ url_for('static', filename='solutions-mobile-marketing.png') }}">
                <p>Mobile Marketing</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade verticals-options" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <h1>Verticals</h1>
        <div class="modal-content-container">
          <div class="vertical-container">
            <a href="/{{lang}}/verticals/b2b">
              <div id="b2b" class="vertical-circle">
                <img class="img-responsive" src="{{ url_for('static', filename='office-icon-white.png') }}">
                <p>B2B</p>
              </div>
            </a>
          </div>
          <div class="vertical-container">
            <a href="/{{lang}}/verticals/higher-education">
              <div id="higher-education" class="vertical-circle">
                <img class="img-responsive" src="{{ url_for('static', filename='education-icon-white.png') }}">
                <p>Higher Education</p>
              </div>
            </a>
          </div>
          <div class="vertical-container">
            <a href="/{{lang}}/verticals/financial-services">
              <div id="financial-services" class="vertical-circle">
                <img class="img-responsive" src="{{ url_for('static', filename='financial-services-icon-white.png') }}">
                <p>Financial Services</p>
              </div>
            </a>
          </div>
          <div class="vertical-container">
            <a href="/{{lang}}/verticals/healthcare">
              <div id="healthcare" class="vertical-circle">
                <img class="img-responsive" src="{{ url_for('static', filename='healthcare-icon-white.png') }}">
                <p>Healthcare</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}
