{% extends "en/base-for-index.html" %}

{% block full_image %}
<html class="full" lang="en">
{% endblock %}

{% block head %}
<title>MarketoLive | Signup</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bg-img-en-home.css') }}">
<script src="//app-sj08.marketo.com/js/forms2/js/forms2.min.js"></script>
<script type="text/javascript">
(function() {
  var didInit = false;
  function initMunchkin() {
    if(didInit === false) {
      didInit = true;
      Munchkin.init('226-FBL-320');
    }
  }
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//munchkin.marketo.net/munchkin-beta.js';
  s.onreadystatechange = function() {
    if (this.readyState == 'complete' || this.readyState == 'loaded') {
      initMunchkin();
    }
  };
  s.onload = initMunchkin;
  document.getElementsByTagName('head')[0].appendChild(s);
})();
</script>
{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-title">
      <img class="img-responsive title-img" src="{{ url_for('static', filename='marketo-live-image-white.png') }}">
    </div>
  </div>
  {% if partners %}
  <div class="row">
    <div class="col-sm-12 center-partners">
      <h1><em>For Partners</em></h1>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 options">
      <div class="btn-container">
        <div class="button-container">
          <div data-toggle="modal" data-target=".solutions-options" class='button -border center'>New User Signup</div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade solutions-options" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <h1 id="modalTitle">Request an Account</h1>
        <div class="modal-content-container">
          <div id="theForm" class="solution-container" style="display: none;">
            <form id="mktoForm_1256"></form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>MktoForms2.loadForm("//app-sj08.marketo.com", "226-FBL-320", 1256, function(form){
    form.onSubmit(function(){
      var vals = form.vals();
      var params = encodeURI('n='+vals.FirstName+' '+vals.LastName+'&e='+vals.Email+'&m='+vals.manager+'&mae='+vals.mangerEmailAddress);
      $.get('https://smartsheets-app.herokuapp.com/setRow?'+params);
    });
});</script>
<script type="text/javascript" src="{{ url_for('static', filename='signup.js') }}"></script>
{% endblock %}