{% extends "jp/base.html" %}

{% block full_image %}
<html class="full" lang="jp ">
{% endblock %}

{% block head %}
<title>ようこそ to Marketo Live</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bg-img-jp.css') }}">
{% endblock %}

{% block page_content %}
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-title">
    <img class="img-responsive title-img" src="{{ url_for('static', filename='marketo-live-image-white.png') }}">
  </div>

  <div class="col-lg- col-md-12 col-md-offset-8 col-sm-12 col-sm-offset-8 options">
    <button class="button btn-lg" data-toggle="modal" data-target=".solutions-options" type="button" href="#">Solutions</button>
    <button class="button btn-lg" data-toggle="modal" data-target=".verticals-options" type="button">Verticals</button>
  </div>

  <div class="modal fade solutions-options" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <h1>デモンストレーション</h1>
        <div class="modal-content-container">
          <div>
            <a href="/{{lang}}/solutions/email-marketing">
              <div class="circle">
                <img class="img-responsive" src="{{ url_for('static', filename='solutions-email-marketing.png') }}">
                <p class="inner-circle">Email Marketing</p>
              </div>
            </a>
          </div>
          <div>
            <a href="/{{lang}}/solutions/lead-management">
              <div class="circle">
                <img class="img-responsive" src="{{ url_for('static', filename='solutions-lead-management.png') }}">
                <p>Lead Management</p>
              </div>
            </a>
          </div>
          <div>
            <a href="/{{lang}}/solutions/consumer-marketing">
              <div class="circle">
                <img class="img-responsive" src="{{ url_for('static', filename='solutions-consumer-marketing.png') }}">
                <p>Consumer Marketing</p>
              </div>
            </a>
          </div>
          <div>
            <a href="/{{lang}}/solutions/customer-base-marketing">
              <div class="circle">  
                <img class="img-responsive" src="{{ url_for('static', filename='solutions-customer-base-marketing.png') }}">
                <p>Customer Base Marketing</p>
              </div>
            </a>
          </div>
          <div>
            <a href="/{{lang}}/solutions/mobile-marketing">
              <div class="circle">
                <img class="img-responsive" src="{{ url_for('static', filename='solutions-mobile-marketing.png') }}">
                <p>Mobile Marketing</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade verticals-options" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <h1>プレゼンテーション</h1>
        <div class="modal-content-container">
          <div class="vertical-container">
            <a href="/{{lang}}/verticals/b2b">
              <div id="b2b" class="circle">
                <img class="img-responsive" src="{{ url_for('static', filename='office-icon-purple.png') }}">
                <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='office-icon-white.png') }}"> 
                <p>B2B</p>
              </div>
            </a>
          </div>
          <div class="vertical-container">
            <a href="/{{lang}}/verticals/higher-education">
              <div id="higher-education" class="circle">
                <img class="img-responsive" src="{{ url_for('static', filename='education-icon-purple.png') }}">
                <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='education-icon-white.png') }}">
                <p>Higher Education</p>
              </div>
            </a>
          </div>
          <div class="vertical-container">
            <a href="/{{lang}}/verticals/financial-services">
              <div id="financial-services" class="circle">
                <img class="img-responsive" src="{{ url_for('static', filename='financial-services-icon-purple.png') }}">
                <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='financial-services-icon-white.png') }}">
                <p>Financial Services</p>
              </div>
            </a>
          </div>
          <div class="vertical-container">
            <a href="/{{lang}}/verticals/healthcare">
              <div id="healthcare" class="circle">
                <img class="img-responsive" src="{{ url_for('static', filename='healthcare-icon-purple.png') }}">
                <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='healthcare-icon-white.png') }}">
                <p>{{lang}} Healthcare</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}