.logo-nav {
  background-color: #5A54A4;
  border-radius: 50%;
  width: 60px;
}

.logo-nav-container:last-child {
  display: none;
}

.navbar-default {
  background-color: #5A54A4;
  border-color: #5A54A4;
}

.navbar {
  min-height: 60px;
  margin-bottom: 0px;
  z-index: 900;
}

.navbar-brand {
  padding: 5px 15px;
}

.container-custom {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.help-nav {
  width: 30px;
}

.help-icon {
  background: url('help-white-nav.png');
  width: 30px;
  height: 30px;
}

.help-icon:hover {
  background: url('help-orange-nav.png');
  width: 30px;
  height: 30px;
}

.help-nav-container:last-child {
  display: none;
}

@media (max-width:767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #777`;
  }
}