.logo-nav {
  background-color: #5A54A4;
  border-radius: 50%;
  width: 50px;
}

.logo-nav-container:last-child {
  display: none;
}

.navbar-default {
  background-color: #5A54A4;
  border-color: #5A54A4;
}
 
.navbar {
  min-height: 40px;
  margin-bottom: 0px;
  z-index: 900;
  border-radius: 0px;
}

.navbar-brand {
  padding: 5px 15px;
}

.container-custom {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.help-icon {
  background: url('help-white-nav.png');
  width: 26px;
  height: 26px;
}

.help-icon:hover {
  background: url('help-orange-nav.png');
  width: 26px;
  height: 26px;
}

.help-nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
}

.sign-in-btn {
  margin-top: 7px;
  margin-bottom: 0px;
  padding: 2px 12px;
  color: #fff;
  background-color: transparent;
}

.sign-in-btn:hover {
  background-color: transparent;
  color: #d1d3d4;
}

.sign-in-btn:focus {
  background-color: transparent;
  color: #fff;
}

.sign-in-btn-form {
  margin-top: 7px;
  margin-bottom: 0px;
  padding: 2px 12px;
  color: #5A54A4;
  background-color: transparent;
  border-color: #5A54A4;
}

.sign-in-btn-form:hover {
  background-color: transparent;
  color: #e98300;
  border-color: #e98300;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #d1d3d4;
}

.navbar-default .navbar-nav > li > button:hover {
  background-color: transparent;
  color: #d1d3d4;
}

.navbar-brand {
  height: 30px;
}

#help-nav-link {
  padding-top: 7px;
  padding-bottom: 0px;
}

.form-horizontal {
  padding: 20px;
  background-color: rgba(231, 231, 231, .8);
  color: #000;
  opacity: 0.8;
}

.modal-dialog {
  margin: 60px auto;
}

.white-link {
  color: #5A54A4;
}

.white-link:hover {
  color: #e98300;
}

@media (max-width:768px) {
  .navbar-default .navbar-nav > li > a:hover {
      color: #d1d3d4;
  }

  .link-padding {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .help-nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
  }
