hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 2.0em;
    margin-top: 0px;
    margin-bottom: 0px; 
    background: -webkit-linear-gradient(-180deg, grey, #5a54a4);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 1.7em;
}

h4, h5 {
    font-size: 1.2em;
}

p {
    font-size: 1.3em;
}


.business-header {
    min-height: 500px;
    padding-bottom: 100px;
    height: 100%;
    background: url('marketobackground.png') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    font-size: 3.8em;
    color: white;
    text-align: center;
}

.flex-align-bottom {
    display: flex;
    align-items: flex-end;
}

.pull-bottom {
    /*float: none;*/
    /*display: table-cell;*/
    vertical-align: bottom;
}



.subject-tagline {
    margin-bottom: 15px;
    color: white;
    font-size: 1.5em;
    text-align: center;
    background: -webkit-linear-gradient(#eee, #5a54a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subject-tagline-image {
    float: none;
    margin: 0 auto;
    padding: 10%;
    background-color: white;
    border-radius: 50%;
    border: 5px solid #5a54a4;  
}

.img-size {
    width: 100%;
    height: 100%;
    max-width: 160px;
    max-height: 160px;
}

.logo {
    height: 60px;
    width: 60px;
    margin-top: 1%;
    margin-left: 5%;
}

.inner-arrow-container {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.section2-image-container {
    width: 100%;
    height: 0;
    padding-top: 90%;
    background: url(tofu.png);
    background-repeat: no-repeat; 
    /*background-size: contain;*/
    background-size: 300% auto;
    background-position: 0% 0%; 
}

.section2-copy {
    height: 125px;
}

.section3-image-container {
    width: 100%;
    height: 0;
    padding-top: 90%;
    background: url(section3.png);
    background-repeat: no-repeat; 
    /*background-size: contain;*/
    background-size: 600% auto;
    background-position: 0% 0%; 
}

.section3-copy {
    height: 150px;
}

.section4-image-container {
    width: 100%;
    height: 0;
    padding-top: 80%;
    background: url(section4.png);
    background-repeat: no-repeat; 
    background-size: 300% auto;
    background-position: -5% 0%; 
}

.section5-image-container {
    width: 100%;
    height: 0;
    padding-top: 90%;
    background: url(section5.png);
    background-repeat: no-repeat; 
    background-size: 300% auto;
    background-position: 0% 0%; 
}

.section2-options,
.section4-options,
.section5-options {
    display: table-cell;
    border: 2px solid #5a54a4;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    vertical-align: middle;
    -webkit-box-shadow: 10px 10px 50px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 50px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 50px -6px rgba(0,0,0,0.75);
}

.section3 {
    margin-bottom: 1%;
}

.section3-options {
    display: table-cell;
    border: 2px solid #5a54a4;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10%;
    vertical-align: middle;
    -webkit-box-shadow: 10px 10px 50px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 50px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 50px -6px rgba(0,0,0,0.75);
}



.section5-copy {
    height: 175px;
}

.mt-5{
    margin-top: 5%;
}
.mt-10 {
    margin-top: 10%;
}


.mb-5 {
    margin-bottom: 5%;
}

.purple-background {
    background-color: #5a54a4;
}

.white-text {
    color: white;
}
.img-center {
    margin: 0 auto;
}

.indent {
    padding-left: 5%;
    padding-right: 5%;
}

.fixed-height {
    height: 470px;
}

.no-pad{
    padding-right: 0px;
    padding-left: 0px;
}

.pad-bottom {
    padding-bottom: 3%;
}

.mt-25 {
    margin-top: 25px;
}



.flex-align-start {
    display: flex;
    align-items: baseline;
}

footer {
    margin: 50px 0;
}