.page-container {
  position: absolute;
}

.stage-container {
  color: white;
  text-align: center;
}

.stages {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.circle {
  border-radius: 50%;
  background-color: white;
  border-color: black;
  height: 150px;
  width: 150px;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
  text-align: center;
  line-height: 50px;
}

.circle:first-of-type {
  margin-top: 0px;
}

.arrow {
  cursor: pointer;
}

.glyphicon-chevron-up {
  margin-bottom: 10px;
}

.glyphicon-chevron-down {
  margin-top: 40px;
  margin-bottom: 50px;
}

.circle p {
  color: white;
  text-align: center;
  position: absolute;
  background-color: #5A54A4;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -20px;
  min-width: 150px;
}

.circle .noun-padding img {
  padding: 20px;
}

.circle:hover {
  cursor: pointer;
}

.circle:hover p {
  color: #f58216;
}

@media (max-width: 768px) {
  .circle {
    height: 100px;
    width: 100px;
  }
}

@media (max-height: 815px) {
  .circle {
    height: 125px;
    width: 125px;
  }

  .circle p {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -20px;
    min-width: 125px;
    font-size: 12px;
  }
}

