.page-container {
  position: absolute;
}

.stage-container {
  color: white;
  text-align: center;
}

.stages {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.circle {
  border-radius: 50%;
  background-color: white;
  border-color: black;
  height: 150px;
  width: 150px;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
  text-align: center;
  line-height: 50px;
}

.arrow {
  cursor: pointer;
}

.glyphicon-chevron-up {
  margin-bottom: 10px;
}

.glyphicon-chevron-up:hover {
  color: #f58216;
  cursor: pointer;
}

.glyphicon-chevron-down {
  margin-top: 20px;
  margin-bottom: 50px;
}

.glyphicon-chevron-down:hover {
  color: #f58216;
  cursor: pointer;
}

.circle p {
  color: white;
  text-align: center;
  background-color: #5A54A4;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -20px;
  min-width: 150px;
}

.circle:hover {
  cursor: pointer;
}

.circle:hover p {
  color: #f58216;
}

.first-icon {
  margin-top: 0px;
}

.circle-container-first-column {
  height: 580px;
  overflow: hidden;
}

.circle-container-second-column {
  height: 380px;
  overflow: hidden;
}

.circle-container-third-column {
  height: 180px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .circle {
    height: 100px;
    width: 100px;
  }
}

@media (max-height: 815px) {
  .circle {
    height: 125px;
    width: 125px;
  }

  .circle p {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -20px;
    min-width: 125px;
    font-size: 11px;
    line-height: 40px;
  }

  .circle-container-first-column {
    height: 500px;
    overflow: hidden;
  }

  .circle-container-second-column {
    height: 330px;
    overflow: hidden;
  }

  .circle-container-third-column {
    height: 155px;
    overflow: hidden;
  }
}

@media (max-height: 730px) {
  .circle {
    height: 100px;
    width: 100px;
  }

  .circle p {
    padding-right: 5px;
    padding-left: 5px;
    min-width: 100px;
    font-size: 9px;
    line-height: 40px;
  }

  .circle-container-first-column {
    height: 420px;
    overflow: hidden;
  }

  .circle-container-second-column {
    height: 270px;
    overflow: hidden;
  }

  .circle-container-third-column {
    height: 120px;
    overflow: hidden;
  }
}


