body {
  margin-top: 40px;
}

.full {
  position: absolute;
  width: 100%;
  background-color: #000;
  background: url('coffee-shop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.container-custom {
  margin-top: 0px;
}

.tile-headline {
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
}

.rectangle {
  margin-top: 20px;
  height: 250px;
  background-color: #F2F1EF;
}

.rectangle-title-container {
  background-color: #6BB9F0;
  margin-bottom: 10px;
  font-size: 2em;
  height: 50px;
}

.rectangle-title {
  font-size: 30px;
  margin: 10px;
  /*color: #fff;*/
}

.row-content {
  position: relative;
  z-index: 90;
  top: 30px;
}

.row-container {
  top: -200px;
  opacity: 0.8;
}

.second-row-content {
  position: relative;
  z-index: 90;
  top: -170px;
}

.second-row-container {
  top: -400px;
  opacity: 0.8;
}

#third-row-content {
  top: -370px;
}

#third-row-container {
  top: -600px;
}

.circle {
  border-radius: 50%;
  background-color: white;
  border-color: black;
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
  text-align: center;
  line-height: 50px;
}

.circle p {
  color: white;
  text-align: center;
  background-color: #5A54A4;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -20px;
  min-width: 150px;
}