.page-title {
  position: absolute;
  top: 20%;
}

.title-img {
  width: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.options {
  bottom: 100px;
  position: absolute;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px 5px 25px 5px;
  padding: 20px;
  border: 1.5px solid black;
}

.circle:hover {
  background: #5A54A4;
  color: #00a1db;
  text-decoration: underline;
  cursor: pointer;
}

.vertical-container:hover {
  color: #00a1db;
  text-decoration: underline;
  cursor: pointer;
}

.circle-bg {
  width: 150px;
  height: 150px;
  margin: auto;
}

.circle p {
  margin: 30px 0 10px;
}

.circle p:hover {
  color: #00a1db;
  text-decoration: underline;
  cursor: pointer;
}

.circle a {
  text-decoration: none;
}

.modal-content {
  text-align: center;
  background-color: rgb(238, 238, 238);
}

.modal-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inner-circle {
  display: inline-block;
}

.btn-lg {
  background-color: transparent;
  color: white;
  border-color: white;
  margin-left: 20px;
}

