.page-title {
  position: absolute;
  top: 20%;
}

.center-text {
  text-align: center;
  margin-top: 2em;
}

.center-text a {
  color: white;
}

.title-img {
  width: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.options {
  bottom: 100px;
  position: absolute;
}

.solution-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px 5px 25px 5px;
  /*padding: 20px;*/
  /*border: 2px solid #5A54A4;*/
  /*background: #5A54A4;*/
}

.solution-circle:hover {
  color: #00a1db;
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
}

.vertical-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px 5px 25px 5px;
  padding: 20px;
  /*border: 2px solid #5A54A4;*/
  background: #956CB5;
}

.vertical-circle:hover {
  color: #00a1db;
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
}

.vertical-container:hover {
  color: #00a1db;
  text-decoration: underline;
  cursor: pointer;
}

.circle-bg {
  width: 150px;
  height: 150px;
  margin: auto;
}

.solution-circle p {
  /*margin: 30px 0 10px;*/
}

.solution-circle p:hover {
  color: #00a1db;
  text-decoration: underline;
  cursor: pointer;
}

.vertical-circle p {
  margin: 30px 0 10px;
}

.vertical-circle p:hover {
  color: #00a1db;
  text-decoration: underline;
  cursor: pointer;
}

.circle a {
  text-decoration: none;
}

.modal-content {
  text-align: center;
  background-color: rgb(238, 238, 238);
}

.modal-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inner-circle {
  display: inline-block;
}

.btn-lg {
  background-color: transparent;
  color: white;
  border-color: white;
  margin-left: 20px;
}

.btn-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px;
}

.button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: inherit;
      -ms-flex-wrap: inherit;
          flex-wrap: inherit;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  border: 0 none;
  border-radius: 24px;
  padding: 12px 18px;
  margin: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 160px;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  text-align: center;
  line-height: 1.3;
  font-size: 14px;
  color: #fff;
  text-transform: none;
  font-weight: 500;
  -webkit-transition: all 60ms ease-in-out;
  transition: all 60ms ease-in-out;
}

.button:hover {
  opacity: .95;
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
}

.button:active {
  opacity: .75;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
}

.button.-border {
  background: #ffffff;
  border: 2px solid #5A54A4;
  color: #5A54A4;
}

.button.-border:hover, .button.-border.-active {
  background: #5A54A4;
  border-color: #5A54A4;
  color: #FFFFFF;
}

.vertical-container {
  margin: 5px;
}

.vertical-container:active {
  opacity: .75;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
}

.solution-container {
  margin: 5px;
}

.solution-container:active {
  opacity: .75;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
}