h2 {
    font-size: 28px;
    color: #5A54A4;
    font-weight: 0.5;
}

.full-funnel {
    justify-content: space-around;
}

.tofu-image {
    height: 500px;
}

.mofu-image {
    height: 500px;
}

.funnel-container{
    position: absolute;
	margin: 2% 5%;
}




.relative {
    position: relative;
}

.tofu {    
    display: flex;
    flex-direction: column;
    top: 160px;
    left: 200px;    
}

.mofu {
    display: flex;
    flex-direction: column;
    top: -215px;
    left: 425px;
    z-index: 2;
}

.bofu {
    display: flex;
    flex-direction: column;
    top: -475px;
    left: 645px;
    z-index: 3;
}

.flex {
    display: flex;
    
}

.features {
    align-items: center;
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
    color: #5a54a4;
    border-radius: 100px;
    border: 2px solid #5a54a4;
}

.arrow-container {
    width: 100px;
    height: 100px;
}

.arrow {
    height: 30px;
    width: 30px;
}



.tofu div,
.mofu div,
.bofu div {
    
}


.tofu div p, 
.mofu div p,
.bofu div p {
    text-align: center;
    margin: auto;
}
