
.headline {
    font-size: 2.0em;
    margin-top: 10px;
    margin-bottom: 0px; 
    background: -webkit-linear-gradient(-180deg, grey, #5a54a4);
     -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
    
}

.full-funnel {
    justify-content: center;
    padding: 15px;
}

.full-funnel div h3 {
    color: white;
}

.tofu-image {
    height: 40em;
    opacity: 0.7;
}

.mofu-image {
    height: 23em;   
    margin-top: 30%;
    opacity: 0.7;
}

.bofu-image {
    height: 8em;
    opacity: 0.7;
    margin-top: 77%;
}

.funnel-container{
    position: absolute;
	margin: 2% 5%;
    width: 100%;
}
.tofu {
    top: 30%;
    left: 18%;  
}
.tofu-container {    
    display: flex;
    flex-direction: column;    
    overflow: auto;
    height: 400px;  
}

.mofu {
    top: 40.5%;
    left: 42%;       
}

.mofu-container {
    display: flex;
    flex-direction: column;
    height: 260px;
    overflow: auto;
    
}

.bofu {
    display: flex;
    flex-direction: column;
    top: 48%;
    left: 65%;
}
.features {
    background-color: white;
    margin-bottom: 10px;
    height: 125px;
    width: 125px;
    color: #5a54a4;
    border-radius: 100px;
    border: 2px solid #5a54a4;
}

.mofu .features p{
   
}

.arrow-container {
    width: 125px;
    height: 100px;
}

.arrow {
    margin: 0 auto;
    height: 30px;
    width: 30px;
}

.align-center {
    text-align: center;
}

