.full {
  position: absolute;
  width: 100%;
  background-color: #000;
  background: url('laptop-and-phone-on-table.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1 {
	text-align: center;
	color: white;
}

/*.mobile-full {
  position: absolute;
  width: 100%;
  background-color: #aca9d1;
  background: url('bg-mobile-marketing1-gradient-1.jpg') no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -o-background-size: contain;
}*/

.phone-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-skin {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url('android-portrait-with-background-test.png') no-repeat;
    z-index: 1;
    width: 300px;
    height: 594px;
}

.phone-contents-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 490px;
  z-index: 5;
  /*margin-top: 7em;*/
}

.app {
  width: 7em;
  height: 7em;
  margin: 1em;
  background: white;
  border-radius: 25%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}

.app:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
}

a:hover {
  text-decoration: none;
}

.app:active {
  opacity: .75;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
}

.app p {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

.app-img {
  width: 100%;
}

.feature {
	background-color: white;
	position: relative;
    margin-top: 4em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 8em;
    height: 8em;
    padding: 0;
    border-radius: 30%;
    border: 1px solid #5a54a4;
}

.feature p {
	text-align: center;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 8em;
  width: 8em;
  left: 0;
  top: 0;  
  position: absolute;  
  border-radius: 30%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}



.feature:hover span.text-content {
	opacity: 1;
}

.noun-padding {
  padding: 20px;
}

/*.spacing {
	margin-right: 1em;
	margin-left: 1em;
}*/

/*@media (min-height: 900px) {
  .phone-contents-container {
    margin-top: 7em;
  }
}

@media (min-height: 1050px) {
  .phone-contents-container {
    margin-top: 13em;
  }
}*/
