{% extends "en/base-no-navbar.html" %}

{% block full_image %}
<html class="full" lang="en">
{% endblock %}

{% block head %}
<title>Marketing Nation Summit 2018 | Launchpad</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css', version='04032018v1') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='summit-18.css', version='04032018v1') }}">
{% endblock %}

{% block page_content %}
  <a href="https://docs.google.com/spreadsheets/d/1694IySYYTaXE9ccCyG8u9Pup6pWG3nAG5gmyFGMvAiY/edit?usp=sharing" target="_blank">
    <img class="title-img" src="{{ url_for('static', filename='the-fearless-marketer-title.svg', version='04032018v1') }}">
  </a>

  <ul class="ch-grid">

    <li data-toggle="modal" data-target="#modal-1">
      <div class="ch-item ch-img-1">
        <div class="ch-info">
          <div>Attract, Nurture, & Deliver Leads</div>
        </div>
      </div>
      <p class="h4">Lead Management</p>
    </li>

    <li data-toggle="modal" data-target="#modal-2">
      <div class="ch-item ch-img-2">
        <div class="ch-info">
          <div>Laser Focus w/ Account-Based Marketing</div>
        </div>
      </div>
      <p class="h4">ABM</p>
    </li>

  </ul>

  <ul class="ch-grid">

    <li data-toggle="modal" data-target="#modal-3">
      <div class="ch-item ch-img-3">
        <div class="ch-info">
          <div>Prove & Improve Your Impact</div>
        </div>
      </div>
      <p class="h4"><br>Analytics<br><br></p>
    </li>

    <li data-toggle="modal" data-target="#modal-4">
      <div class="ch-item ch-img-4">
        <div class="ch-info">
          <div>Deliver Content They Want Automatically</div>
        </div>
      </div>
      <p class="h4">Content
        <sup class="h4" style="font-size: 90%; top: -.4em;">AI</sup><br>&<br>
        Web Personalization
      </p>
    </li>

    <li data-toggle="modal" data-target="#modal-5">
      <div class="ch-item ch-img-5">
        <div class="ch-info">
          <div>Transform Your Sales Team</div>
        </div>
      </div>
      <p class="h4"><br>Sales Engage<br><br></p>
    </li>

  </ul>

  <ul class="ch-grid">

    <li data-toggle="modal" data-target="#modal-6">
      <div class="ch-item ch-img-6">
        <div class="ch-info">
          <div>Maximize Performance & Usability</div>
        </div>
      </div>
      <p class="h4">Next-Gen UX</p>
    </li>

    <li data-toggle="modal" data-target="#modal-7">
      <div class="ch-item ch-img-7">
        <div class="ch-info">
          <div>Listen. Learn. Engage.</div>
        </div>
      </div>
      <p class="h4">Engagement Platform</p>
    </li>

  </ul>

  <!-- Modal 1 > Lead Management -->
  <div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
  			<div class="modal-header">
  				<h4 class="modal-title" id="myModalLabel">Lead Management</h4>
  			</div>
  			<div class="modal-body">
          <a class="flex" target="_blank" href="https://app-sjdemo1.marketo.com/#MA19A1">
            <img class="icon" src="../../static/marketo-live-circle-logo.png" alt="MarketoLive Icon">
            <button type="button" class="btn btn-default btn-block ">Marketo</button>
          </a>
  			</div>
  			<div class="modal-footer">
  				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  			</div>
  		</div>
  	</div>
  </div>

  <!-- Modal 2 > ABM -->
  <div class="modal fade" id="modal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
         <h4 class="modal-title" id="myModalLabel">Account-Based Marketing</h4>
        </div>
        <div class="modal-body">
          <a class="flex" target="_blank" href="https://app-sjdemo1.marketo.com/#ABM0A1">
            <img class="icon" src="../../static/marketo-live-circle-logo.png" alt="MarketoLive Icon">
            <button type="button" class="btn btn-default btn-block ">Marketo</button>
          </a>
          <a class="flex" target="_blank" href="https://marketo.box.com/s/e6ecw9og67bqiqhppds7qxpe0s8tlkxc">
            <img class="icon" src="../../static/ppt-icon.png" alt="PowerPoint Icon">
            <button type="button" class="btn btn-default btn-block">ABM Overview</button>
          </a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 > Analytics -->
  <div class="modal fade" id="modal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
  			<div class="modal-header">
  				<h4 class="modal-title" id="myModalLabel">Analytics</h4>
  			</div>
  			<div class="modal-body">
          <a class="flex" target="_blank" href="https://insights.marketolive.com/mpi">
            <img class="icon" src="../../static/marketo-live-circle-logo.png" alt="MarketoLive Icon">
            <button type="button" class="btn btn-default btn-block ">Performance Insights</button>
          </a>
          <a class="flex" target="_blank" href="https://insights.marketolive.com/email">
            <img class="icon" src="../../static/marketo-live-circle-logo.png" alt="MarketoLive Icon">
            <button type="button" class="btn btn-default btn-block ">Email Insights</button>
          </a>
  			</div>
  			<div class="modal-footer">
  				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  			</div>
  		</div>
  	</div>
  </div>

  <!-- Modal 4 > Content AI & Web Personalization -->
  <div class="modal fade" id="modal-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
  			<div class="modal-header">
  				<h4 class="modal-title" id="myModalLabel">Content
            <sup class="modal-title" style="font-size: 90%; top: -.4em;">AI</sup> & Personalization
          </h4>
  			</div>
  			<div class="modal-body">
	  			<a class="flex" target="_blank" href="https://sjrtp3.marketo.com/app/predictive-app/">
            <img class="icon" src="../../static/marketo-live-circle-logo.png" alt="MarketoLive Icon">
            <button type="button" class="btn btn-default btn-block">Content
              <sup class="modal-title" style="font-size: 90%; top: -.4em;">AI</sup>
            </button>
          </a>
          <a class="flex" target="_blank" href="https://sjrtp3.marketo.com/app/dashboard.ext">
            <img class="icon" src="../../static/marketo-live-circle-logo.png" alt="MarketoLive Icon">
            <button type="button" class="btn btn-default btn-block ">Web Personalization</button>
          </a>
          <hr>
          <a class="flex" target="_blank" href="https://verticals.marketolive.com/microsite/technology">
            <img class="icon" src="../../static/marketo-live-circle-logo.png" alt="MarketoLive Icon">
            <button type="button" class="btn btn-default btn-block">Verticals Microsite</button>
          </a>
  			</div>
  			<div class="modal-footer">
  				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  			</div>
  		</div>
  	</div>
  </div>

  <!-- Modal 5 > Sales Engage -->
  <div class="modal fade" id="modal-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
  			<div class="modal-header">
  				<h4 class="modal-title" id="myModalLabel">Sales Engage</h4>
  			</div>
  			<div class="modal-body">
          <a class="flex" target="_blank" href="https://toutapp.com/next#emails/command_center">
            <img class="icon" src="../../static/sales-engage-loading-plane.png" alt="Sales Engage Icon">
            <button type="button" class="btn btn-default btn-block ">Sales Engage</button>
          </a>
  			</div>
  			<div class="modal-footer">
  				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  			</div>
  		</div>
  	</div>
  </div>

  <!-- Modal 6 > Next-Gen UX -->
  <div class="modal fade" id="modal-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
  			<div class="modal-header">
  				<h4 class="modal-title" id="myModalLabel">Marketo Sky</h4>
  			</div>
  			<div class="modal-body">
          <a class="flex" target="_blank" href="https://app-sjdemo1.marketo.com/#MM0A1">
            <img class="icon" src="../../static/mercury.svg" alt="Next-Gen UX Icon">
            <button type="button" class="btn btn-default btn-block">Marketo Sky Beta</button>
          </a>
          <a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/V2FQQBSYUPX">
            <img class="icon" src="../../static/invision.png" alt="InVision Icon">
            <button type="button" class="btn btn-default btn-block wrap">Marketo Sky Preview</button>
          </a>
          <a class="flex" target="_blank" href="https://marketo.box.com/s/th7khtw6qj8itt49ha4xq0tu7aa46kqt">
            <img class="icon" src="../../static/ppt-icon.png" alt="PowerPoint Icon">
            <button type="button" class="btn btn-default btn-block ">Marketo Sky Overview</button>
          </a>
  			</div>
  			<div class="modal-footer">
  				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  			</div>
  		</div>
  	</div>
  </div>

  <!-- Modal 7 > Engagement Platform -->
  <div class="modal fade" id="modal-7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
  			<div class="modal-header">
  				<h4 class="modal-title" id="myModalLabel">Engagement Platform</h4>
  			</div>
  			<div class="modal-body">
          <a class="flex" target="_blank" href="https://marketo.box.com/s/q6uamkphxsvzaqe0fdcbl9bg12ztyvkn">
            <img class="icon" src="../../static/ppt-icon.png" alt="PowerPoint Icon">
            <button type="button" class="btn btn-default btn-block">Google Cloud & Platform</button>
          </a>
          <a class="flex" target="_blank" href="https://marketo.box.com/s/qx3iodxdb2pefffj1f6jkhqwvj91syk5">
            <img class="icon" src="../../static/ppt-icon.png" alt="PowerPoint Icon">
            <button type="button" class="btn btn-default btn-block">Mintigo
              <sup class="modal-title" style="font-size: 90%; top: -.4em;">AI</sup>
            </button>
          </a>
  			</div>
  			<div class="modal-footer">
  				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  			</div>
  		</div>
  	</div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='summit-18.js', version='04032018v1') }}"></script>
{% endblock %}