{% extends "en/base.html" %}

{% block full_image %}
<html class="full" lang="en">
{% endblock %}

{% block head %}
<title>Marketo Summit 2017</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bg-img-en-home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='summit-17.css') }}">

{% endblock %}

{% block page_content %}
  <h1 class="text-center">Summit Demo Launchpad</h1>

  <ul class="ch-grid">
   <li data-toggle="modal" data-target="#modal-LM">
	  <div class="ch-item ch-img-1">        
		<div class="ch-info">
		  <h3>Attract and Engage Leads</h3>          
		</div>        
	  </div>
	  <p class="h4">Lead Management</p>
   </li>
   <li data-toggle="modal" data-target="#modal-ABM">
	<div class="ch-item ch-img-2">
	  <div class="ch-info">
	   <h3>ABM for Marketing and Sales</h3>          
	  </div>
	</div>
	<p class="h4">ABM</p>
   </li>
   <li data-toggle="modal" data-target="#modal-Analytics">
	<div class="ch-item ch-img-3">
	  <div class="ch-info">
	   <h3>Tailored Insights</h3>
	  </div>
	</div>
	<p class="h4">Analytics</p>
   </li>
  </ul>

  <ul class="ch-grid">
   <li data-toggle="modal" data-target="#modal-popular-apps">
	  <div class="ch-item ch-img-4">        
		<div class="ch-info">
		  <h3>Web Personalization/ Predictive Content</h3>          
		</div>        
	  </div>
	  <p class="h4">Popular Apps</p>
   </li>
   <li data-toggle="modal" data-target="#modal-eng-platform">
	<div class="ch-item ch-img-5">
	  <div class="ch-info">
	   <h3>Speed and Visibility</h3>          
	  </div>
	</div>
	<p class="h4">Engagement Platform</p>
   </li>
   <li data-toggle="modal" data-target="#modal-new-capabilities">
	<div class="ch-item ch-img-6">
	  <div class="ch-info">
	   <h3>Our Latest Innovations</h3>
	  </div>
	</div>
	<p class="h4">New Capabilities</p>
   </li>
  </ul>

  <!-- Lead Management Modal -->

  <div class="modal fade" id="modal-LM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
  			<div class="modal-header">
  				<h4 class="modal-title" id="myModalLabel">Lead Management</h4>
  			</div>
  			<div class="modal-body">  				
				<a class="flex" target="_blank" href="https://app-sjp.marketo.com/#MA15A1">
					<img class="mlive-icon" src="../../static/marketo-live-circle-logo.png" alt="Marketolive logo" />
					<button type="button" class="btn btn-default btn-block ">MarketoLive</button>
				</a>  				
				<a class="flex" target="_blank"href="https://marketo.box.com/s/sp6es6bs2djr6ncft4zyv1ym80nojfwg">
					<img class="powerpoint" src="../../static/ppt-icon.png" alt="Powerpoint Icon">
					<button type="button" class="btn btn-default btn-block">LinkedIn Lead Ads</button>
				</a>  					   
  			</div>
  			<div class="modal-footer">        
  				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  			</div>
  		</div>
  	</div>
 </div>

  <!-- ABM Modal -->
  <div class="modal fade" id="modal-ABM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
		  <div class="modal-header">
		   <h4 class="modal-title" id="myModalLabel">Account Based Marketing</h4>
		  </div>
		  <div class="modal-body">
			<a class="flex" target="_blank" href="https://app-sjp.marketo.com/#ABM0A1">
			  <img class="mlive-icon" src="../../static/marketo-live-circle-logo.png" alt="Marketolive logo" />
			  <button type="button" class="btn btn-default btn-block ">MarketoLive</button>
			</a>
			<a class = "flex" target="_blank" href="https://marketo.invisionapp.com/share/P9BBA0KDS#/screens/228554320">
			  <img src="../../static/invision.png" alt="" class="invision">
			  <button type="button" class="btn btn-default btn-block">Account Insight</button>
			</a>
			<a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/TVBBAV9WU#/screens/229002211_Artboard_2">
			  <img src="../../static/invision.png" alt="" class="invision">
			  <button type="button" class="btn btn-default btn-block">Comprehensive Account View</button>
			</a> 
			<a class="flex" target="_blank" href="https://marketo.box.com/s/e6ecw9og67bqiqhppds7qxpe0s8tlkxc">
			  <img src="../../static/ppt-icon.png" alt="" class="powerpoint">
			  <button type="button" class="btn btn-default btn-block">ABM Overview</button>
			</a> 

			<hr>

<!-- 		<a class="flex" target="_blank" href="https://marketo.box.com/s/gz8anis9ow5u3p8umwjb3x40ij2jj037">
			  <img src="../../static/ppt-icon.png" alt="" class="powerpoint">
			  <button type="button" class="btn btn-default btn-block">ABM Roadmap</button>
			</a> -->   
			<a class="flex" target="_blank" href="https://toutapp.com/login">
			  <img src="../../static/toutapp.png" alt="ToutApp logo" />
			  <button type="button" class="btn btn-default btn-block ">ToutApp Demo</button>
			</a>
	
			 <a class="flex" target="_blank" href="https://marketo.box.com/s/qgcmdia6anjyqstz1gci0elvxrray8p7">
			  <img src="../../static/ppt-icon.png" alt="" class="powerpoint">
			  <button type="button" class="btn btn-default btn-block">Marketo ToutApp Overview</button>
			</a> 
<!--  			<a class="flex" target="_blank" href="https://marketo.box.com/s/e6ecw9og67bqiqhppds7qxpe0s8tlkxc">
			  <img src="../../static/ppt-icon.png" alt="" class="powerpoint">
			  <button type="button" class="btn btn-default btn-block">ABM Pitch Deck</button>
			</a> 					
 -->
		  </div>	  
		  <div class="modal-footer">        
		  	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>
   	</div>
  </div>

  <!-- Analytics Modal -->

  <div class="modal fade" id="modal-Analytics" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
  			<div class="modal-header">
  				<h4 class="modal-title" id="myModalLabel">Analytics</h4>
  			</div>
  			<div class="modal-body">
	  			<a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/PYBBDHHDU#/screens/228803464">
				  <img src="../../static/invision.png" alt="" class="invision">
				  <button type="button" class="btn btn-default btn-block">CMO Insights</button>
				</a>				
				<a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/ENBBPZ2HR#/screens/229366626">
				  <img src="../../static/invision.png" alt="" class="invision">
				  <button type="button" class="btn btn-default btn-block">Web Insights</button>
				</a>
				<a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/PYBBDHHDU#/screens/229172516">
				  <img src="../../static/invision.png" alt="" class="invision">
				  <button type="button" class="btn btn-default btn-block wrap">Marketing Performance Insights</button>
				</a>	
  			</div>
  			<div class="modal-footer">        
  				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  			</div>
  		</div>
  	</div>
  </div>

  <!-- Popular Apps Modal -->

  <div class="modal fade" id="modal-popular-apps" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
  			<div class="modal-header">
  				<h4 class="modal-title" id="myModalLabel">Popular Apps</h4>
  			</div>
  			<div class="modal-body">
  				<a class="flex" target="_blank" href="https://app-sjp.marketo.com/#MM0A1">
				  <img class="mlive-icon" src="../../static/marketo-live-circle-logo.png" alt="Marketolive logo" />
				  <button type="button" class="btn btn-default btn-block ">MarketoLive</button>
				</a>
				<a class="flex" target="_blank" href="https://verticals.marketolive.com/technology">
				  <img class="mlive-icon" src="../../static/marketo-live-circle-logo.png" alt="Marketolive logo" />
				  <button type="button" class="btn btn-default btn-block ">RTP-Verticals Microsite</button>
				</a>			

			</div>
  			<div class="modal-footer">        
  				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  			</div>
  		</div>
  	</div>
  </div>

  <!-- Engagement Platform Modal -->

  <div class="modal fade" id="modal-eng-platform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
  			<div class="modal-header">
  				<h4 class="modal-title" id="myModalLabel">Engagement Platform</h4>
  			</div>
  			<div class="modal-body">
  				<a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/93BD9WQJX">
				  <img src="../../static/invision.png" alt="" class="invision"/>
				  <button type="button" class="btn btn-default btn-block wrap">Systems Performance Monitoring</button>
				</a>
				<a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/KFBBABWHJ">
				  <img src="../../static/invision.png" alt="" class="invision">
				  <button type="button" class="btn btn-default btn-block wrap">Marketing Performance Benchmarking</button>
				</a>
				<a class="flex" target="_blank" href="https://marketo.box.com/s/cs8q3hmzuq51l05wbid2epqrp3o2eg9w">
				  <img src="../../static/ppt-icon.png" alt="" class="powerpoint">
				  <button type="button" class="btn btn-default btn-block wrap">Engagement Platform Overview</button>
				</a> 
				<a class="flex" target="_blank" href="https://marketo.box.com/s/uy1il0go82fvzm30hz7213kbxbgjx5dx">
				  <img src="../../static/ppt-icon.png" alt="" class="powerpoint">
				  <button type="button" class="btn btn-default btn-block">SFDC Integration Experience</button>
				</a> 
				<a class="flex" target="_blank" href="https://marketo.box.com/s/9imlnoyun4lcp26iru0chmmn5u6w81rz">
				  <img src="../../static/ppt-icon.png" alt="" class="powerpoint">
				  <button type="button" class="btn btn-default btn-block">Faster Campaign Execution</button>
				</a>
				<a class="flex" target="_blank" href="https://marketo.box.com/s/jgijwqpg2b35qjiqb8nm1772eghtlti5">
				  <img src="../../static/ppt-icon.png" alt="" class="powerpoint">
				  <button type="button" class="btn btn-default btn-block">Bulk API's</button>
				</a>         
  			</div>
  			<div class="modal-footer">        
  				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  			</div>
  		</div>
  	</div>
  </div>

  <!-- New Capabilities Modal -->

  <div class="modal fade" id="modal-new-capabilities" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
  			<div class="modal-header">
  				<h4 class="modal-title" id="myModalLabel">New Capabilities</h4>
  			</div>
  			<div class="modal-body">
  				<a class="flex" target="_blank" href="https://marketo.app.box.com/s/2blybapw9l4euy0grueuswb9nhyv0hp4">
				  <img src="../../static/ppt-icon.png" alt="" class="powerpoint">
				  <button type="button" class="btn btn-default btn-block ">New User Experience</button>
				</a>
				<!-- <a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/P3BBAZ3CS#/screens/226847070">
				  <img src="../../static/invision.png" alt="" class="invision"/>
				  <button type="button" class="btn btn-default btn-block ">Adaptive Engagement</button>
				</a> -->

				<hr>
				
				<a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/P9BBA0KDS#/screens/228554320">
				  <img src="../../static/invision.png" alt="" class="invision">
				  <button type="button" class="btn btn-default btn-block">Account Insight</button>
				</a>

				<hr> 

	  			<a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/PYBBDHHDU#/screens/228803464">
				  <img src="../../static/invision.png" alt="" class="invision">
				  <button type="button" class="btn btn-default btn-block">CMO Insights</button>
				</a>				
				<a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/ENBBPZ2HR#/screens/229366626">
				  <img src="../../static/invision.png" alt="" class="invision">
				  <button type="button" class="btn btn-default btn-block">Web Insights</button>
				</a>
				<a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/PYBBDHHDU#/screens/229172516">
				  <img src="../../static/invision.png" alt="" class="invision">
				  <button type="button" class="btn btn-default btn-block wrap">Marketing Performance Insights</button>
				</a>

				<hr>

				<a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/93BD9WQJX">
				  <img src="../../static/invision.png" alt="" class="invision"/>
				  <button type="button" class="btn btn-default btn-block wrap">Systems Performance Monitoring</button>
				</a>
				<a class="flex" target="_blank" href="https://marketo.invisionapp.com/share/KFBBABWHJ">
				  <img src="../../static/invision.png" alt="" class="invision">
				  <button type="button" class="btn btn-default btn-block wrap">Marketing Performance Benchmarking</button>
				</a>

				<hr>

	<!-- 		<a class="flex" target="_blank" href="https://marketo.box.com/s/gz8anis9ow5u3p8umwjb3x40ij2jj037">
				  <img src="../../static/ppt-icon.png" alt="" class="powerpoint">
				  <button type="button" class="btn btn-default btn-block">ABM Roadmap</button>
				</a> -->   
				<a class="flex" target="_blank" href="https://toutapp.com/login">
				  <img src="../../static/toutapp.png" alt="ToutApp logo" />
				  <button type="button" class="btn btn-default btn-block ">ToutApp Demo</button>
				</a>
		
				 <a class="flex" target="_blank" href="https://marketo.box.com/s/qgcmdia6anjyqstz1gci0elvxrray8p7">
				  <img src="../../static/ppt-icon.png" alt="" class="powerpoint">
				  <button type="button" class="btn btn-default btn-block">Marketo ToutApp Overview</button>
				</a> 
  			</div>
  			<div class="modal-footer">        
  				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  			</div>
  		</div>
  	</div>
  </div>


{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
<script src="{{ url_for('static', filename='summit-17.js') }}"></script>

{% endblock %}