<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Submit Web Visits - MarketoLive</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="{{ url_for('static', filename='sha1.min.js') }}"></script>
  </head>
  <body>
    <h1>{{content}}</h1>
  </body>
  <footer>
    <script type="text/javascript" src="{{ url_for('static', filename='submit-web-visits.js') }}"></script>
  </footer>
</html>