<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <script type="text/javascript">
            (function() {
                var didInit = false,
                    s;
                
                function initMunchkin() {
                    if (didInit === false) {
                        didInit = true;
                        Munchkin.init("026-COU-482", {cookieLifeDays : 1, cookieAnon : false});
                        webVisit();
                    }
                }
                
                s = document.createElement("script");
                s.type = "text/javascript";
                s.async = true;
                s.src = "//munchkin.marketo.net/munchkin.js";
                s.onreadystatechange = function() {
                    if (this.readyState == "complete" || this.readyState == "loaded") {
                        initMunchkin();
                    }
                };
                s.onload = initMunchkin;
                document.getElementsByTagName("head")[0].appendChild(s);
            })();

            var webVisit = function() {
                var leads = [
                        {hash : "e91fea75734eeee375a1c0ad4c14bb16703aa0d0", email : "mktodemosvcs+1130@gmail.com"},
                        {hash : "3740cb0137c946959027f48be1b62df72601243f", email : "mktodemosvcs+1131@gmail.com"},
                        {hash : "9f8c199f279e7fc954b62a8484ee3584f3419e6c", email : "mktodemosvcs+1136@gmail.com"},
                        {hash : "d03c98a512f7aa85e794f8867bd6d1aac37ea3ce", email : "mktodemosvcs+1097@gmail.com"},
                        {hash : "adc6481dba82149a69c2165ada11c3116e72c3a1", email : "mktodemosvcs+1085@gmail.com"},
                        {hash : "149bca301f1f5f2b0d4b9e1d0c65e05072a6dd2b", email : "mktodemosvcs+1108@gmail.com"},
                        {hash : "613ac7814a7b133b4c48cd08c28dcdb2925c6c90", email : "mktodemosvcs+1089@gmail.com"},
                        {hash : "c8c630d55b53eb1ef5e9d70596ad8036de4983bc", email : "mktodemosvcs+1120@gmail.com"},
                        {hash : "c15265d94b1d17ba6e1bdb70a51fb926523ccc0b", email : "mktodemosvcs+1123@gmail.com"},
                        {hash : "1bfa2fcecb9fea94d8263e1d1d833720145e4d15", email : "mktodemosvcs+1126@gmail.com"},
                        {hash : "18bd935f7f0e497eb8689a515aadaf066fd839a9", email : "mktodemosvcs+1129@gmail.com"},
                        {hash : "a9da34ec14ea5ddd33ac147fa1ae42e74022b099", email : "mktodemosvcs+1143@gmail.com"},
                        {hash : "31adac9d23710b02b6746b6fdf65d52d85595401", email : "mktodemosvcs+1152@gmail.com"},
                        {hash : "9452440a23f294ea5879d0882a9d1858d5fe23e8", email : "mktodemosvcs+1158@gmail.com"},
                        {hash : "e141b50b825f3f2fe89adcf1d267bb8b520965c2", email : "mktodemosvcs+1161@gmail.com"},
                        {hash : "6093a7828db75e5c89316d69d6f78304cc88dbe3", email : "mktodemosvcs+1162@gmail.com"},
                        {hash : "f5bbd3a31d25b6e84c0e2a4d50822d3ac06cd43c", email : "mktodemosvcs+1163@gmail.com"},
                        {hash : "15796656549a867967c3a7d805bfa4ff81abb63e", email : "mktodemosvcs+1165@gmail.com"},
                        {hash : "a60a39bd29412b6bf90334aea8150fcdf8eff7fc", email : "mktodemosvcs+1168@gmail.com"},
                        {hash : "c168a871d48c7fdcc4262a658e3a203cc6185acd", email : "mktodemosvcs+1171@gmail.com"},
                        {hash : "aa6d5d20f3c519591fc1c7d1362541839193aa48", email : "mktodemosvcs+1174@gmail.com"},
                        {hash : "40947ef64bbae81440db66167ba291e88465ff3d", email : "mktodemosvcs+1176@gmail.com"},
                        {hash : "c61c6110cf3c700954d180b17a59f4ab4a7dac13", email : "mktodemosvcs+1186@gmail.com"},
                        {hash : "8afce39e2b5c0a1186fae50deef75e946630fe49", email : "mktodemosvcs+1201@gmail.com"},
                        {hash : "5aff8c0a10d48b552356b0227f54b92e186acfd9", email : "mktodemosvcs+1111@gmail.com"},
                        {hash : "f22535c8370f54e0fa905994eb417251a8770157", email : "mktodemosvcs+1003@gmail.com"},
                        {hash : "aec5288554070e6f3c8ce0cebd8644921075c657", email : "mktodemosvcs+1004@gmail.com"},
                        {hash : "1e989d2ad20e2d9d805cd9a5de6fbef897f558a3", email : "mktodemosvcs+1026@gmail.com"},
                        {hash : "943f97052e9e9a4097ec4067e2dbdf5385d6fcc6", email : "mktodemosvcs+1030@gmail.com"},
                        {hash : "f83e490e0afaa225b4c2ad9635c08e13566b93fa", email : "mktodemosvcs+1015@gmail.com"},
                        {hash : "7d778f0382a3b6af7fe88d59a72f457a69aadf19", email : "mktodemosvcs+1033@gmail.com"},
                        {hash : "d0d22487953e23079101fe20cf69c203283269a9", email : "mktodemosvcs+1017@gmail.com"},
                        {hash : "986dcdc0cb373ce6a4c34197ac252888fa972aca", email : "mktodemosvcs+1023@gmail.com"},
                        {hash : "2a021465cdb28fe05bf040a197c38ddfab311e9d", email : "mktodemosvcs+1063@gmail.com"},
                        {hash : "263073da8924a478d5830e9d11775acc119904ee", email : "mktodemosvcs+1049@gmail.com"},
                        {hash : "9c9f0b35bddd67829061ef9d6eb212533acb40ef", email : "mktodemosvcs+1051@gmail.com"},
                        {hash : "ec8d7ae3997645f433a8871329ca046ea1d63da5", email : "mktodemosvcs+1064@gmail.com"},
                        {hash : "faf4437854a6a407efd1b6c0918eaca8e9d74e37", email : "mktodemosvcs+1065@gmail.com"},
                        {hash : "f1321fad25976853bc17ba104bec26e4493160ee", email : "mktodemosvcs+1052@gmail.com"},
                        {hash : "c48b843a94dec02cbd2d32a94cc5529348801b03", email : "mktodemosvcs+1053@gmail.com"},
                        {hash : "7818513548f186fd5d9a7b8d38b04e523d6c3330", email : "mktodemosvcs+1071@gmail.com"},
                        {hash : "74b980349c99f67073adebdd587c4fb5b05c1a13", email : "mktodemosvcs+1054@gmail.com"},
                        {hash : "9115eea975e011ecc02c594db5c2f92211936093", email : "mktodemosvcs+1055@gmail.com"},
                        {hash : "5093d33e1198278f96c4df0f17ebd43753386c7b", email : "mktodemosvcs+1078@gmail.com"},
                        {hash : "476c666881d7bf07553ec6231d1a684e06f51b6c", email : "mktodemosvcs+1079@gmail.com"},
                        {hash : "ae96530598ad0183ecbcdd1be486f4d3f091babc", email : "mktodemosvcs+1080@gmail.com"},
                        {hash : "5697a19bc2453f736f9b59ef4acbeca01d1e0427", email : "mktodemosvcs+1056@gmail.com"},
                        {hash : "25cc3abbb9e0eacd4a915b69255692212a5ba5c3", email : "mktodemosvcs+1043@gmail.com"}
                    ],
                    leadIdx = leads[Math.floor(Math.random() * leads.length)],
                    urllist = [
                        "/are-you-abm-ready.html",
                        "/top5-abm-themes.html",
                        "/marketers-can-benefit-from-abm.html",
                        "/sirius-abm-2016-state.html",
                        "/account-based-nurturing.html",
                        "/get-it-right-with-abm.html",
                        "/blog/accelerate-your-sales.html",
                        "/solutions/lead-management.html",
                        "/solutions/abm.html",
                        "/blog/digital-marketing-financial",
                        "/top5-digital-engagement-themes.html",
                        "/reboot-europe-tech-industry.html"
                    ],
                urlStr = urllist[Math.floor(Math.random() * urllist.length)];

                Munchkin.munchkinFunction("associateLead", {Email: leadIdx["email"]}, leadIdx["hash"]);
                Munchkin.munchkinFunction("visitWebPage", {url : urlStr});
                console.log("Sent > Visit Web Page : " + leadIdx["email"] + " : " + urlStr);
            }
        </script>
    </head>
    <body>
    </body>
</html>