<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <!-- Marketo Munchkin Code -->
        <script type="text/javascript">
            (function() {
                var didInit = false,
                    s,
                    leads,
                    urllist,
                    leadIdx,
                    urlStr;
                
                function initMunchkin() {
                    if (didInit === false) {
                        didInit = true;
                        Munchkin.init("487-HAG-489");
                    }
                }
                
                s = document.createElement("script");
                s.type = "text/javascript";
                s.async = true;
                s.src = "//munchkin.marketo.net/munchkin.js";
                s.onreadystatechange = function() {
                    if (this.readyState == "complete" || this.readyState == "loaded") {
                        initMunchkin();
                        
                        leads = [{"email": "hparameswaran@marketo.com", "hash": "233591bf9c4aeb0e10170bdff7fc3e51a55cab97"}];
                        urllist = [
                            "/are-you-abm-ready.html",
                            "/top5-abm-themes.html",
                            "/marketers-can-benefit-from-abm.html",
                            "/sirius-abm-2016-state.html",
                            "/account-based-nurturing.html",
                            "/get-it-right-with-abm.html",
                            "/blog/accelerate-your-sales.html",
                            "/solutions/lead-management.html",
                            "/solutions/abm.html",
                            "/blog/digital-marketing-financial",
                            "/top5-digital-engagement-themes.html",
                            "/reboot-europe-tech-industry.html"
                        ];
                            
                        leadIdx = "";
                        leadIdx = leads[Math.floor(Math.random() * leads.length)];

                        Munchkin.munchkinFunction("associateLead", {"Email": leadIdx["email"]}, leadIdx["hash"]);

                        urlStr = "";
                        urlStr = urllist[Math.floor(Math.random() * urllist.length)];

                        Munchkin.munchkinFunction("visitWebPage", {"url": urlStr});

                        console.log("Logged page visit activity" + urlStr);
                    }
                };
                s.onload = initMunchkin;
                document.getElementsByTagName("head")[0].appendChild(s);
            })();
        </script>
    </head>
    <body>
    </body>
</html>