{% extends "jp/base.html" %}
<!DOCTYPE html>
<html lang="jp">
{% block head %}
<head>

<link href="{{ url_for('static', filename='business-frontpage.css')}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.fullPage.css')}}">
<title>テクノロジー</title>
{% endblock %}

</head>

<body>
    {% block page_content %}
    <div id="fullpage">
        
        <header class="business-header section container">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <h1 class="tagline text-center">テクノロジー</h1>
                    </div>
                </div>
                
                <div class="row clearfix mt-10">
                    <div class="col-lg-3 col-md-3 col-xs-3 pull-bottom">
                        <!-- <h2 class="subject-tagline">DRIVE MORE AWARENESS</h2> -->
                        <h2 class="subject-tagline">認知度を高める</h2>                         
                    </div>  
                    <div class="col-lg-3 col-md-3 col-xs-3">
                        <!-- <h2 class="subject-tagline">ENGAGE YOUR CUSTOMER</h2> -->  
                         <h2 class="subject-tagline">顧客とのエンゲージメント</h2>                         
                    </div> 
                    <div class="col-lg-3 col-md-3 col-xs-3">
                        <!-- <h2 class="subject-tagline">ALIGN WITH SALES</h2> -->
                        <h2 class="subject-tagline">営業と連携する</h2>                        
                    </div> 
                    <div class="col-lg-3 col-md-3 col-xs-3">
                        <!-- <h2 class="subject-tagline">MEASURE YOUR SUCCESS</h2> --> 
                        <h2 class="subject-tagline">効果を測定する</h2>                             
                    </div>
                </div> 
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-xs-3">
                        <div class="row">
                            <div data-menuanchor="driveMoreAwareness" class= "col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
                                <div class="subject-tagline-image">
                                    <a href="#DriveMoreAwareness"><img class="img-size img-responsive" src= "{{ url_for('static', filename='drive.png') }}" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-3">
                        <div class="row">
                            <div class= "col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
                                <div class=" subject-tagline-image">
                                    <a href="#EngageYourCustomer"><img class="img-size img-responsive" src= "{{ url_for('static', filename='engage.png') }}" /></a>
                                </div>   
                            </div>
                        </div>     
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-3">
                        <div class="row">
                            <div class= "col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
                                <div class="subject-tagline-image">
                                    <a href="#AlignWithSales"><img class="img-size img-responsive" src= "{{ url_for('static', filename='sales.png') }}" /></a>
                                </div>   
                            </div>
                        </div>        
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-3">
                        <div class="row"> 
                            <div class= "col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
                                <div class="subject-tagline-image">
                                    <a href="#MeasureYourSuccess"><img class="img-size img-responsive" src= "{{ url_for('static', filename='report.png') }}" /></a>
                                </div>
                            </div>
                        </div>       
                    </div>
                </div>  
            </div>

            <div class="arrow-container-down mt-5">
                <img class="inner-arrow-container" src= "{{ url_for('static', filename= 'downarrow-purp.png') }}"/>
            </div>
        </header>

        <!-- Page Content -->
        <!-- <div class="container"> -->
            
            <div class="section container">

                <hr>
                <div class="arrow-container-up">
                    <img class="inner-arrow-container" src="{{ url_for('static', filename= 'uparrow-purp.png') }}"/>
                </div>

                <!-- <h2 class="text-center">Drive More Awareness</h2> -->
                <h2 class="text-center">認知度を高める</h2>

                <!-- Begining of Section 2 -->
                <div class="row indent">
                    <div class="col-md-6 col-lg-6 col-xs-12">

                    <hr>
                                        
                        <div class="section2-image-container fixed-height">
                            <!-- <img class="section2-image-container" src="{{ url_for('static', filename= 'tofu.png') }}" /> -->
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 col-xs-12 fixed-height">             
                       
                        <hr>

                        <!-- <h3 class="text-center" id="section2-header">Search Optimization</h3> -->
                        <h3 class="text-center" id="section2-header">検索の最適化</h3>

                        <!-- <p class="section2-copy">Marketo's Search Engine Optimization (SEO) is an easy-to-use resource that helps marketers without specialized knowledge drive more quality traffic to their website and landing pages.</p> -->
                        <p class="section2-copy">Marketo SEOは、マーケターがSEOの専門的な知識がなくても、企業のWebサイト、ランディングページへ質の高いトラッフィクを増やすことをサポートします。</p>


                        <div class="col-lg-12 col-md-12 col-xs-12 mt-12 no-pad mt-25">        
                            <div class="col-lg-4 col-md-4 col-xs-4">
                                <div data-order="section2-0" class="section2-options purple-background">
                                  <a href="#" class="deeplink" target="_blank" deeplink="search-optimization">
                                    <!-- <p class="text-center">Search Optimization</p> -->
                                    <p class="text-center">検索最適化（SEO）</p>
                                   </a>  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-xs-4">
                                <div data-order="section2-1" class="section2-options">
                                  <a href="#" class="deeplink" target="_blank" deeplink="website-retargeting">
                                    <!-- <p class="text-center">Personalization</p> -->
                                    <p class="text-center">パーソナライゼーション</p>
                                  </a>  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-xs-4">
                                <div data-order="section2-2" class="section2-options">
                                  <a href="#" class="deeplink" target="_blank" deeplink="tech-social-marketing">
                                    <!-- <p class="text-center">Social Promotions</p> -->
                                    <p class="text-center">ソーシャルプロモーション</p>
                                  </a>   
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                    <div class="arrow-container-down">
                        <img class="inner-arrow-container" src="{{ url_for('static', filename= 'downarrow-purp.png') }}"/>
                    </div>
            </div>
                
            <!-- End of Section 2 -->
            

            <!-- Begining of Section 3 -->
            <div class="section container">
                <hr>

                <div class="arrow-container-up">
                    <img class="inner-arrow-container" src="{{ url_for('static', filename= 'uparrow-purp.png') }}"/>
                </div>

                <!-- <h2 class="text-center">Engage your Customers</h2> -->
                <h2 class="text-center">顧客とのエンゲージメント</h2>
                <div class="row indent">

                    <div class="col-md-6 col-xs-12">

                        <hr>

                        <!-- <h3 class="text-center" id="section3-header">Automate</h4> -->
                        <h3 class="text-center" id="section3-header">自動化</h4>

                       <!--  <p class="section3-copy">It's hard to coordinate all of your marketing programs in flight across teams and regions.  The Marketo Marketing Calendar makes it easy for marketing teams to efficiently plan, coordinate, and share the many great things happening in marketing.</p> -->
                        <p class="section3-copy">自動化プログラムはトリガーを使い、見込顧客の特定の行動をリアルタイムで捉え、メール送信、営業担当者へのアラート通知、スコアリングいった適切なアクションを瞬時に実行します。</p>

                        <div class="col-md-12 col-xs-12 mb-5">
                            <div class="col-md-4 col-xs-4">
                                <div data-order="section3-0" class="section3-options purple-background">
                                  <a href="#" class="deeplink" target="_blank" deeplink="tech-automation">
                                    <!-- <p class="text-center font-size-16">Automate</p> -->
                                    <p class="text-center font-size-16">自動化</p>
                                  </a>  
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div data-order="section3-1" class="section3-options">
                                  <a href="#" class="deeplink" target="_blank" deeplink="tech-batch">
                                    <!-- <p class="text-center font-size-16">Batch</p> -->
                                    <p class="text-center font-size-16">バッチ</p>
                                  </a>  
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div data-order="section3-2" class="section3-options">
                                  <a href="#" class="deeplink" target="_blank" deeplink="tech-drip">
                                    <!-- <p class="text-center font-size-16">Drip</p> -->
                                    <p class="text-center font-size-16">ドリップ</p>
                                  </a>  
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 second-row">
                                <div data-order="section3-3" class="section3-options">
                                  <a href="#" class="deeplink" target="_blank" deeplink="tech-nurturing">
                                    <!-- <p class="text-center font-size-16">Nurture</p> -->
                                    <p class="text-center font-size-16">ナーチャリング</p>
                                  </a>  
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4 second-row">
                                <div data-order="section3-4" class="section3-options">
                                  <a href="#" class="deeplink" target="_blank" deeplink="tech-events">
                                    <!-- <p class="text-center font-size-16">Events</p> -->
                                    <p class="text-center font-size-16">イベント</p>
                                  </a>  
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4 second-row">
                                <div data-order="section3-5" class="section3-options">
                                  <a href="#" class="deeplink" target="_blank" deeplink="marketing-calendar">
                                    <!-- <p class="text-center font-size-16">Calendar</p> -->
                                    <p class="text-center font-size-16">カレンダー</p>
                                  </a>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">  

                        <hr>                               
                        <div class="section3-image-container">
                            <!-- <img class="section3-image-container img-responsive" src="{{ url_for('static', filename= 'section2.png') }}" /> -->
                        </div>
                    </div>

                </div>

                <div class="arrow-container-down pad-bottom">
                    <img class="inner-arrow-container" src="{{ url_for('static', filename= 'downarrow-purp.png') }}"/>
                </div>
            </div>

            <!-- End of Section 3 -->

            <!-- Begining of Section 4 -->

            <div class="section container">
                <hr>

                <div class="arrow-container-up">
                    <img class="inner-arrow-container" src="{{ url_for('static', filename= 'uparrow-purp.png') }}"/>
                </div>

                <!-- <h2 class="text-center">Align with Sales</h2> -->
                <h2 class="text-center">営業と連携する</h2>
                <div class="row indent">
                    <div class="col-md-6">

                        <hr>
                                        
                        <div class="section4-image-container">
                            <!-- <img class="section4-image-container" src="{{ url_for('static', filename= 'align1.png') }}" /> -->
                        </div>
                    </div>

                    <div class="col-md-6">             
                       
                        <hr>

                        <!-- <h3 id="section4-header" class="text-center">Lead Scoring</h3> -->
                        <h3 id="section4-header" class="text-center">リードスコアリング</h3>

                        <!-- <p class="section4-copy">Lead scoring is a shared sales and marketing methodology for ranking leads in order to determine their sales-readiness.  You score leads based on the interest they show in your business, known as behavioral, their current stage in the buying cycle, and their fit in regards to your business, known as demographic.</p> -->

                        <p class="section4-copy">リードスコアリングはマーケティングと営業が連携するための手法で、営業が案件にアタッチするタイミングを見極めるために見込顧客の優先順位付けをします。企業への関心、購買サイクルでの現ステージ、ニーズが自社ビジネスとどれほどマッチしているかなどを基にスコア付けします。</p>

                        <div class="col-md-12 col-xs-12 mt-5 no-pad">        
                            <div class="col-md-4 col-xs-4">
                                <div data-order="section4-0" class="section4-options purple-background">
                                  <a href="#" class="deeplink" target="_blank" deeplink="lead-scoring">
                                    <!-- <p class="text-center">Lead Scoring</p> -->
                                    <p class="text-center">リードスコアリング</p>
                                  </a>  
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div data-order="section4-1" class="section4-options">
                                  <!-- <a href="#" class="deeplink" target="_blank" deeplink="lead-scoring"> -->
                                    <!-- <p class="text-center">Sales Notification</p> -->
                                    <p class="text-center">営業への通知</p>
                                  <!-- </a>   -->
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div data-order="section4-2" class="section4-options">
                                  <a href="#" class="deeplink" target="_blank" deeplink="sales-insight">
                                    <!-- <p class="text-center">Sales Insight</p> -->
                                    <p class="text-center">セールスインサイト</p>
                                  </a>  
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                    <div class="arrow-container-down">
                        <img class="inner-arrow-container" src="{{ url_for('static', filename= 'downarrow-purp.png') }}"/>
                    </div>
            </div>

            <!-- End of Section 4 -->

            <!-- Start of Section 5 -->
            <div class="section container">
                <hr>

                <div class="arrow-container-up">
                    <img class="inner-arrow-container" src="{{ url_for('static', filename= 'uparrow-purp.png') }}"/>
                </div>

               <!--  <h2 class="text-center">Measure Your Success</h2> -->
                <h2 class="text-center">効果を測定する</h2>
                <div class="row section3 indent">

                    <div class="col-lg-6 col-md-6 col-xs-12">

                        <hr>

                        <!-- <h3 id="section5-header" class="text-center">Executive Dashboard</h4> -->
                        <h3 id="section5-header" class="text-center">エグゼクティブダッシュボード</h4>

                       <!--  <p class="section5-copy">Most CRMs and marketing automation software only captures attribution metrics with a single touch (e.g a lead source).  Don't limit yourself to a single-touch attribution model with Marketo.</p> -->
                        <p class="section5-copy">多くのCRMやMAソフトでは施策の貢献度はシングルタッチ（例：リードソース）でしか測定することしかできません。Marketoではシングルタッチのみならず、マルチタッチで測定することができ、施策に対する正確な判断が行えます</p>
                   

                        <div class="col-md-12 col-xs-12 mb-5 no-pad">
                            <div class="col-md-4 col-xs-4">
                                <div data-order="section5-0" class="section5-options purple-background">
                                  <a href="#" class="deeplink" target="_blank" deeplink="program-analysis">
                                    <!-- <p class="text-center font-size-16">Executive Dashboard</p> -->
                                    <p class="text-center font-size-16">エグゼクティブダッシュボード</p>
                                  </a>  
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div data-order="section5-1" class="section5-options">
                                  <a href="#" class="deeplink" target="_blank" deeplink="intelligent-nurturing">
                                    <!-- <p class="text-center font-size-16">Content Analysis</p> -->
                                    <p class="text-center font-size-16">コンテンツ分析</p>
                                  </a>  
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div data-order="section5-2" class="section5-options">
                                  <a href="#" class="deeplink" target="_blank" deeplink="flexible-reporting">
                                    <!-- <p class="text-center font-size-16">Flexible Reporting</p> -->
                                    <p class="text-center font-size-16">レポーティング</p>
                                  </a>  
                                </div>
                            </div>
                        </div>

                        
                    </div>

                    <div class="col-lg-6 col-md-6 col-xs-12">  

                        <hr>                               
                        <div class="section5-image-container">
                            <!-- <img  "img-responsive" src="{{ url_for('static', filename= 'measure1.png') }}" /> -->
                        </div>
                    </div>

                </div>
            </div>

                


            

        <!-- </div> -->
        <!-- /.container -->
    </div>
    {% endblock %}
    {% block scripts %}
    <!-- fullPage javascript -->
    <script src="{{ url_for('static', filename='jquery.fullPage.js')}}"></script>

    <script src="{{ url_for('static', filename='b2b-jp.js')}}"></script>
    {% endblock %}
</body>

</html>