{% extends "jp/base.html" %}
<!DOCTYPE html>
<html lang="jp">
{% block head %}
<head>

<link href="{{ url_for('static', filename='healthcare.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.fullPage.css') }}">
<!-- <title>Marketo Healthcare</title> -->
<title>ヘルスケア</title>
{% endblock %}

</head>

<body>
    {% block page_content %}
    <div id="fullpage">
        
        <header class="business-header section container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <!-- <h1 class="tagline text-center">Healthcare Providers</h1> -->
                        <h1 class="tagline text-center">ヘルスケア Providers</h1>
                    </div>
                </div>

                <div class="row clearfix mt-10">
                    <div class="col-lg-4 col-md-4 col-xs-4 pull-bottom">
                        <!-- <h2 class="subject-tagline">ACQUIRE MORE PATIENTS</h2> -->
                        <h2 class="subject-tagline">患者の獲得</h2>                        
                    </div>  
                    <div class="col-lg-4 col-md-4 col-xs-4">
                        <!-- <h2 class="subject-tagline">BUILD LASTING RELATIONSHIPS</h2> -->
                        <h2 class="subject-tagline">継続的な関係構築</h2>                        
                    </div> 
                    <div class="col-lg-4 col-md-4 col-xs-4">
                        <!-- <h2 class="subject-tagline">MEASURE SUCCESS</h2> --> 
                        <h2 class="subject-tagline">成功の測定</h2>         
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-4 col-md-4 col-xs-4">
                        <div class="row">
                            <div data-menuanchor="AcquireMorePatients" class= "col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2">
                                <div class="subject-tagline-image">
                                    <a href="#AcquireMorePatients"><img class="img-size img-responsive" src= "{{ url_for('static', filename='healthcare_acquire_patients.png') }}" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-4">
                        <div class="row">
                            <div class= "col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2">
                                <div class=" subject-tagline-image">
                                    <a href="#BuildLastingRelationships"><img class="img-size img-responsive" src= "{{ url_for('static', filename='healthcare_build_relationships.png') }}" /></a>
                                </div>   
                            </div>
                        </div>     
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-4">
                        <div class="row">
                            <div class= "col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2">
                                <div class="subject-tagline-image">
                                    <a href="#MeasureSuccess"><img class="img-size img-responsive" src= "{{ url_for('static', filename='report.png') }}" /></a>
                                </div>   
                            </div>
                        </div>        
                    </div>

                </div>                 
            </div>

            <div class="arrow-container-down mt-5">
                <img class="inner-arrow-container" src= "{{ url_for('static', filename= 'downarrow-purp.png') }}"/>
            </div>
        </header>

        <!-- Page Content -->
            
        <div class="section container">

            <hr>
            <div class="arrow-container-up">
                <img class="inner-arrow-container" src="{{ url_for('static', filename= 'uparrow-purp.png') }}"/>
            </div>

            <!-- <h2 class="text-center">Acquire More Patients</h2> -->
            <h2 class="text-center">患者の獲得</h2>

            <!-- Begining of Section 2 -->
            <div class="row indent">
                <div class="col-md-6 col-lg-6 col-xs-12">
                    <hr>
                                    
                    <div class="section2-image-container">
                        <!--  -->
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12">       
                   
                    <hr>

                    <!-- <h3 class="text-center" id="section2-header">Search Optimization</h3> -->
                    <h3 class="text-center" id="section2-header">検索の最適化</h3>
                    <!-- <p class="section2-copy">Marketo Search Engine Optimization (SEO) is an easy-to-use tool that helps marketers without specialized knowledge drive more quality traffic and potential patients to their website and landing pages.</p> -->
                    <p class="section2-copy">Marketo SEOは、マーケターがSEOの専門的な知識がなくても、企業のWebサイト、ランディングページへ質の高いトラッフィク、潜在的な患者を増やすことをサポートします。</p>

                    <div class="col-lg-12 col-md-12 col-xs-12 mt-10">        
                        <div class="col-lg-4 col-md-4 col-xs-4">
                            <div data-order="section2-0" class="section2-options purple-background">
                              <a href="#" class="deeplink" target="_blank" deeplink="search-optimization">
                                <!-- <h5 class="text-center">Search Optimization</h5> -->
                                <h5 class="text-center">検索の最適化</h5>
                              </a>  
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-xs-4">
                            <div data-order="section2-1" class="section2-options">
                              <a href="#" class="deeplink" target="_blank" deeplink="hc-acquire-patients"> 
                                <!-- <h5 class="text-center">Capture Interest</h5> -->
                                <h5 class="text-center">関心の理解</h5>
                              </a>  
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-xs-4">
                            <div data-order="section2-2" class="section2-options">
                              <a href="#" class="deeplink" target="_blank" deeplink="hc-social-marketing"> 
                                <!-- <h5 class="text-center">Social Promotions</h5> -->
                                <h5 class="text-center">ソーシャルプロモーション</h5>
                              </a>  
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

                <div class="arrow-container-down mt-5">
                    <img class="inner-arrow-container" src="{{ url_for('static', filename= 'downarrow-purp.png') }}"/>
                </div>
        </div>
                
        <!-- End of Section 2 -->        

        <!-- Begining of Section 3 -->
        <div class="section container">
            <hr>

            <div class="arrow-container-up">
                <img class="inner-arrow-container" src="{{ url_for('static', filename= 'uparrow-purp.png') }}"/>
            </div>

            <!-- <h2 class="text-center">Building Lasting Relationships</h2> -->
            <h2 class="text-center">永続的な関係構築</h2>

            <div class="row indent">

                <div class="col-md-6 col-xs-12">

                    <hr>

                    <!-- <h3 class="text-center" id="section3-header">Automate</h4> -->
                    <h3 class="text-center" id="section3-header">自動化</h4>    
                    <!-- <p class="section3-copy">With Marketo’s email capabilities marketers can put into action an immediate email strategy that incorporates the best email practices. Provide truly personalized experiences for your prospective and existing patients.</p> -->
                    <p class="section3-copy">Marketoのメール機能ならマーケターがベストプラクティスに則って即座にメールによる施策を実行に移すことを可能にします。パーソナライズされた体験を提供することで、潜在顧客や既存患者様とのエンゲージメントをより深いものへ進めることができます</p>
               

                    <div class="col-md-12 col-xs-12 mb-5 mt-5">
                        <div class="col-md-6 col-xs-6">
                            <div data-order="section3-0" class="section3-options purple-background">
                              <a href="#" class="deeplink" target="_blank" deeplink="hc-email-marketing">
                                <!-- <h4 class="text-center font-size-16">Email Marketing</h4> -->
                                <h4 class="text-center font-size-16">メールマーケティング</h4>
                              </a>  
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-6">
                            <div data-order="section3-1" class="section3-options">
                              <a href="#" class="deeplink" target="_blank" deeplink="hc-retargeting">
                                <!-- <h4 class="text-center">Retargeting</h4> -->
                                <h4 class="text-center">リターゲティング</h4>
                              </a>  
                            </div>
                        </div>                    
                    
                        <div class="col-md-6 col-xs-6 second-row">
                            <div data-order="section3-2" class="section3-options">
                              <a href="#" class="deeplink" target="_blank" deeplink="hc-nurturing">
                                <!-- <h4 class="text-center">Nurture</h4> -->
                                <h4 class="text-center">ナーチャリング</h4>
                              </a>  
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-6 second-row">
                            <div data-order="section3-3" class="section3-options">
                              <a href="#" class="deeplink" target="_blank" deeplink="marketing-calendar">
                                <!-- <h4 class="text-center">Events</h4> -->
                                <h4 class="text-center">イベント</h4>
                              </a>  
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">  
                    <hr>
                                                 
                    <div class="section3-image-container">
                        
                    </div>
                </div>

            </div>

            <div class="arrow-container-down">
                <img class="inner-arrow-container" src="{{ url_for('static', filename= 'downarrow-purp.png') }}"/>
            </div>
        </div>

        <!-- End of Section 3 -->

        <!-- Begining of Section 4 -->

        <div class="section container">
            <hr>

            <div class="arrow-container-up">
                <img class="inner-arrow-container" src="{{ url_for('static', filename= 'uparrow-purp.png') }}"/>
            </div>

            <!-- <h2 class="text-center">Measure Success</h2> -->
            <h2 class="text-center">効果を測定する</h2>

            <div class="row indent">
                
                <div class="col-md-6">   
                    <hr>                   
                    <div class="section4-image-container">
                        
                    </div>
                </div>

                <div class="col-md-6">             
                   
                    <hr>

                   <!--  <h3 id="section4-header" class="text-center">Patient Engagement</h3> -->
                   <h3 id="section4-header" class="text-center">患者とのエンゲージメント</h3>

                    <!-- <p class="section4-copy">Marketo's unique Engagement Score is a proprietary metric that outputs a single number to give marketers a fast, apples-to-apples method of measuring content performance</p> -->
                    <p class="section4-copy">Marketoのエンゲージメントスコアはマーケターがすぐに、かつ簡単にコンテンツのパフォーマンスを測定するための指標です。</p>

                    <div class="col-md-12 col-xs-12 mt-10">        
                        <div class="col-md-4 col-xs-4">
                            <div data-order="section4-0" class="section4-options purple-background">
                              <a href="#" class="deeplink" target="_blank" deeplink="hc-nurturing-dashboard">
                                <!-- <h4 class="text-center">Patient Engagement</h4> -->
                                <h4 class="text-center">患者とのエンゲージメント</h4>
                              </a>  
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-4">
                            <div data-order="section4-1" class="section4-options">
                              <a href="#" class="deeplink" target="_blank" deeplink="program-analysis">
                                <!-- <h4 class="text-center">ROI Analysis</h4> -->
                                <h4 class="text-center">ROI分析</h4>
                              </a>  
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-4">
                            <div data-order="section4-2" class="section4-options">
                              <a href="#" class="deeplink" target="_blank" deeplink="hc-dashboard">
                                <!-- <h4 class="text-center">Dashboards & Advanced Analytics</h4> -->
                                <h4 class="text-center">ダッシュボード&アドバンストアナリティクス</h4>
                              </a>  
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <!-- End of Section 4 -->        

    </div>
    {% endblock %}
    {% block scripts %}
    <!-- fullPage javascript -->
    <script src="{{ url_for('static', filename='jquery.fullPage.js') }}"></script>

    <script src="{{ url_for('static',  filename='healthcare-jp.js') }}"></script>
    {% endblock %}
</body>

</html>