{% extends "en/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>

<link href="{{ url_for('static', filename='healthcare.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.fullPage.css') }}">
<title>Marketo Healthcare</title>
{% endblock %}

</head>

<body>
    {% block page_content %}
    <div id="fullpage">
        
        <header class="business-header section container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <h1 class="tagline text-center">Marketo for Healthcare</h1>
                    </div>
                </div>
                
                <div class="row mt-10">
                    <div class="col-md-4 col-xs-4">
                        <h2 class="subject-tagline">ACQUIRE MORE PATIENTS</h2>
                        <div class= "col-lg-8 col-md-8 col-xs-8 subject-tagline-image">
                            <a href="#AcquireMorePatients"><img class="img-size img-responsive" src= "{{ url_for('static', filename='healthcare_acquire_patients.png') }}" /></a>
                        </div>
                    </div>  
                    <div class="col-md-4 col-xs-4">
                        <h2 class="subject-tagline">BUILD LASTING RELATIONSHIPS</h2>   
                        <div class= "col-lg-8 col-md-8 col-xs-8 subject-tagline-image">
                            <a href="#BuildLastingRelationships"><img class="img-size img-responsive" src= "{{ url_for('static', filename='healthcare_build_relationships.png') }}" /></a>
                        </div>            
                    </div> 
                    <div class="col-md-4 col-xs-4">
                        <h2 class="subject-tagline">MEASURE SUCCESS</h2> 
                        <div class= "col-lg-8 col-md-8 col-xs-8 subject-tagline-image">
                            <a href="#MeasureSuccess"><img class="img-size img-responsive" src= "{{ url_for('static', filename='healthcare_measure.png') }}" /></a>
                        </div>           
                    </div> 
                    
                </div>                
            </div>

            <div class="arrow-container-down mt-5">
                <img class="inner-arrow-container" src= "{{ url_for('static', filename= 'downarrow-purp.png') }}"/>
            </div>

        </header>

        <!-- Page Content -->
        <!-- <div class="container"> -->

            
            <div class="section container">

                <hr>
                <div class="arrow-container-up">
                    <img class="inner-arrow-container" src="{{ url_for('static', filename= 'uparrow-purp.png') }}"/>
                </div>

                <h2 class="text-center">Acquire More Patients</h2>

                <!-- Begining of Section 2 -->
                <div class="row indent">
                    <div class="col-md-6 col-lg-6 col-xs-12 pd-5">
                                        
                        <div class="section2-image-container">
                            <!--  -->
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 col-xs-12">             
                       
                        <hr>

                        <h3 class="text-center" id="section2-header">Search Optimization</h3>

                        <p class="section2-copy">Marketo Search Engine Optimization (SEO) is an easy-to-use tool that helps marketers without specialized knowledge drive more quality traffic and potential students to their website and landing pages.</p>

                        <div class="col-lg-12 col-md-12 col-xs-12 mt-10">        
                            <div class="col-lg-4 col-md-4 col-xs-4">
                                <div data-order="section2-0" class="section2-options purple-background">
                                    <h5 class="text-center white-text">Seach Optimization</h5>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-xs-4">
                                <div data-order="section2-1" class="section2-options">
                                    <h5 class="text-center">Capture Interest</h5>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-xs-4">
                                <div data-order="section2-2" class="section2-options">
                                    <h5 class="text-center">Social Promotions</h5>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                    <div class="arrow-container-down mt-5">
                        <img class="inner-arrow-container" src="{{ url_for('static', filename= 'downarrow-purp.png') }}"/>
                    </div>
            </div>
                
            <!-- End of Section 2 -->
            

            <!-- Begining of Section 3 -->
            <div class="section container">
                <hr>

                <div class="arrow-container-up">
                    <img class="inner-arrow-container" src="{{ url_for('static', filename= 'uparrow-purp.png') }}"/>
                </div>

                <h2 class="text-center">Communicate at Scale</h2>

                <div class="row indent">

                    <div class="col-md-6 col-xs-12">

                        <hr>

                        <h3 class="text-center" id="section3-header">Automate</h4>

                        <p class="section3-copy">With Marketo’s email capabilities marketers can put into action an immediate email strategy that incorporates the best email practices. Provide truly personalized experiences for your prospective and existing patients.</p>
                   

                        <div class="col-md-12 col-xs-12 mb-5 mt-5">
                            <div class="col-md-6 col-xs-6">
                                <div data-order="section3-0" class="section3-options purple-background">
                                    <h4 class="text-center font-size-16 white-text">Email Marketing</h4>
                                </div>
                            </div>

                            <div class="col-md-6 col-xs-6">
                                <div data-order="section3-1" class="section3-options">
                                    <h4 class="text-center font-size-16">Retargeting</h4>
                                </div>
                            </div>
                        </div>

                        
                        <div class="col-md-12 col-xs-12 mb-5">
                            <div class="col-md-6 col-xs-6">
                                <div data-order="section3-2" class="section3-options">
                                    <h4 class="text-center font-size-16">Nurture</h4>
                                </div>
                            </div>

                            <div class="col-md-6 col-xs-6">
                                <div data-order="section3-3" class="section3-options">
                                    <h4 class="text-center font-size-16">Events</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 pd-5">  

                                                     
                        <div class="section3-image-container">
                            
                        </div>
                    </div>

                </div>

                <div class="arrow-container-down">
                    <img class="inner-arrow-container" src="{{ url_for('static', filename= 'downarrow-purp.png') }}"/>
                </div>
            </div>

            <!-- End of Section 3 -->

            <!-- Begining of Section 4 -->

            <div class="section container">
                <hr>

                <div class="arrow-container-up">
                    <img class="inner-arrow-container" src="{{ url_for('static', filename= 'uparrow-purp.png') }}"/>
                </div>

                <h2 class="text-center">Measure Success</h2>

                <div class="row indent">
                    <hr>
                    <div class="col-md-6 pd-5">

                                        
                        <div class="section4-image-container">
                            
                        </div>
                    </div>

                    <div class="col-md-6">             
                       
                        <hr>

                        <h3 id="section4-header" class="text-center">Lead Scoring</h3>

                        <p class="section4-copy">Marketo's unique Engagement Score is a proprietary metric that outputs a single number to give marketers a fast, apples-to-apples method of measuring content performance</p>

                        <div class="col-md-12 col-xs-12 mt-10">        
                            <div class="col-md-4 col-xs-4">
                                <div data-order="section4-0" class="section4-options purple-background">
                                    <h4 class="text-center white-text">Patient Engagement</h4>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div data-order="section4-1" class="section4-options">
                                    <h4 class="text-center">ROI Analysis</h4>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div data-order="section4-2" class="section4-options">
                                    <h4 class="text-center">Dashboards & Advanced Analytics</h4>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>

            <!-- End of Section 4 -->        

        <!-- </div> -->
        <!-- /.container -->
    </div>
    {% endblock %}
    {% block scripts %}
    <!-- fullPage javascript -->
    <script src="{{ url_for('static', filename='jquery.fullPage.js') }}"></script>

    <script src="{{ url_for('static',  filename='healthcare.js') }}"></script>
    {% endblock %}
</body>

</html>