{% extends "en/base.html" %}

{% block full_image %}
<html class="full" lang="en">
{% endblock %}

{% block head %}
<title>MarketoLive Updates</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bg-img-en-home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugin-update.css') }}">
<style type="text/css">
  .update {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 25px;
    bottom: inherit;
  }
</style>
{% endblock %}

{% block page_content %}
  <h5 class= "text-center">
    <b><u>Latest MarketoLive Extension v5.1.6</u></b>
  </h5>
  <div class="row update">
    <!-- New to MarketoLive Extension Section -->
    <div class="col-lg-4 col-md-4 col-sm-4 ">
      <h4>New to MarketoLive Extension</h4>
      <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion0_heading1">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion0" href="#accordion0_collapse1" aria-expanded="false" aria-controls="accordion0_collapse1">
                Minimum Required Version
              </a>
            </h4>
          </div>
          <div id="accordion0_collapse1" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion0_heading1">
            <div class="panel-body">
              <img src="{{ url_for('static', filename='demo-extension-dialog-window.jpg') }}"><br><br>
              <img src="{{ url_for('static', filename='marketolive-old-extension.jpg') }}"><br><br>
              <b>We are now enforcing a minimium required version of 5.0.0</b>, any user who has an older version installed will not be able to use the MarketoLive instance and will receive the dialog window and the Chrome notification shown above.
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion0_heading2">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion0" href="#accordion0_collapse2" aria-expanded="false" aria-controls="accordion0_collapse2">
                Clear Your Cache Easily
              </a>
            </h4>
          </div>
          <div id="accordion0_collapse2" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion0_heading2">
            <div class="panel-body">
              <img src="{{ url_for('static', filename='marketolive-extension-clear-cache.png') }}"><br><br>
              Fix basic issues by clearing your cache easily in 3 simple clicks:<br>
              1. Click the extension icon in the Chrome toolbar<br>
              2. Click the gear icon in the extension popup window<br>
              3. Click the <i>CLEAR CACHE</i> button<br><br>
              It will automatically clear all your cached images and files from the beginning of time, reload all Marketo or MarketoLive tabs, and then close the popup window.<br>
              <b>This will NOT clear your cookies, browsing history, or autofill form data.</b>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion1_heading1">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_collapse1" aria-expanded="false" aria-controls="accordion1_collapse1">
                Changes Are Not Allowed Notification
              </a>
            </h4>
          </div>
          <div id="accordion1_collapse1" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion1_heading1">
            <div class="panel-body">
              <img src="{{ url_for('static', filename='marketolive-not-allowed.jpg') }}"><br><br>
              You will receive this notification if you attempt to make changes to the demo environment that aren't allowed, the page will reload automatically as a result.
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion1_heading2">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_collapse2" aria-expanded="false" aria-controls="accordion1_collapse2">
                Bad Extension Notification
              </a>
            </h4>
          </div>
          <div id="accordion1_collapse2" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion1_heading2">
            <div class="panel-body">
              <img src="{{ url_for('static', filename='marketolive-bad-extension-error.jpg') }}"><br><br>
              If you receive this notification you will not be able to use the MarketoLive instance until the bad extension is uninstalled. Simply click on the <i>'Uninstall Bad Extension'</i> button to resolve the issue.
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <!-- New to MarketoLive Instance Section -->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h4>New to MarketoLive Instance</h4>
      <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion2_heading1">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_collapse1" aria-expanded="false" aria-controls="accordion2_collapse1">
                Email Insights Update
              </a>
            </h4>
          </div>
          <div id="accordion2_collapse1" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion2_heading1">
            <div class="panel-body">
              <img src="{{ url_for('static', filename='email-insights-tile.jpg') }}"><br><br>
              You can now <u>demo live data</u> within Email Insights rather than the previous static app. If you would still like to demo the static app, please use the link below.<br>
              <a href="http://www.marketolive.com/en/analytics/email-insights-summit-demo-1">http://www.marketolive.com/en/analytics/email-insights-summit-demo-1</a>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion2_heading2">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_collapse2" aria-expanded="false" aria-controls="accordion2_collapse2">
                Saving & Approving Landing Page Templates
              </a>
            </h4>
          </div>
          <div id="accordion2_collapse2" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion2_heading2">
            <div class="panel-body">
              <img src="{{ url_for('static', filename='edit-draft-toolbar-button.jpg') }}"><br><br>
              Due to an bug with how Landing Page Templates load in the editor, the only way you can now <i>Save or Approve</i> templates within your user folder in <i>My Workspace</i> is to first <i>Preview</i> the template then switch to the editor via the <i>Edit Draft</i> toolbar button in the previewer.
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion2_heading3">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_collapse3" aria-expanded="false" aria-controls="accordion2_collapse3">
                MarketoLive Reloaded
              </a>
            </h4>
          </div>
          <div id="accordion2_collapse3" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion2_heading3">
            <div class="panel-body">
              <img src="{{ url_for('static', filename='marketo-live-circle-logo.png') }}"><br><br>
              All Solutions Consultants now have access to the next generation demo environment, code named <b>MarketoLive Reloaded</b>.<br><br>
              To login, your user ID is {email}@marketolive.com (e.g. bfisher@marketo.com --> bfisher@marketolive.com)<br><br>
              This demo environment will enable you to demo the full capabilities of our solutions with real and organic demo data, no more static data or dummy dashboard data. It will enable you to demo in the way that is best for you and your deal, either from a functionality or journey perspective. Additionally, you will be able to demo the entire Admin section safely.
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <!-- New to MarketoLive Website Section -->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h4>New to MarketoLive Website</h4>
      <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion3_heading0">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_collapse0" aria-expanded="false" aria-controls="accordion3_collapse0">
                Ad Targeting
              </a>
            </h4>
          </div>
          <div id="accordion3_collapse0" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion3_heading0">
            <div class="panel-body">
              <img src="{{ url_for('static', filename='ad-targeting-example.png') }}"><br><br>
              Now you can quickly capture ad targeting images or demo ad targeting live for Google Search, Facebook, and LinkedIn.<br><br>
              <a href="https://marketoemployee.jiveon.com/videos/2842">Learn More →</a>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion3_heading1">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_collapse1" aria-expanded="false" aria-controls="accordion3_collapse1">
                Web Personalization Demo Site Updates
              </a>
            </h4>
          </div>
          <div id="accordion3_collapse1" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion3_heading1">
            <div class="panel-body">
              We will be updating our Web Personalization demo site (<a href="https://verticals.marketolive.com">https://verticals.marketolive.com</a>) in order to make it easier to choose the persona, geo, industry, display type, or retargeting ads you wish to demo. In the meantime, continue to use the links below.<br><br>
              
              <u>Country Based</u><br>
              <a href="https://verticals.marketolive.com/predictive-content?geo=us">https://verticals.marketolive.com/predictive-content?geo=us (United States)</a><br>
              <a href="https://verticals.marketolive.com/predictive-content?geo=ca">https://verticals.marketolive.com/predictive-content?geo=ca (Canada)</a><br>
              <a href="https://verticals.marketolive.com/predictive-content?geo=uk">https://verticals.marketolive.com/predictive-content?geo=uk (United Kingdom)</a><br>
              <a href="https://verticals.marketolive.com/predictive-content?geo=fr">https://verticals.marketolive.com/predictive-content?geo=fr (France)</a><br>
              <a href="https://verticals.marketolive.com/predictive-content?geo=de">https://verticals.marketolive.com/predictive-content?geo=de (Germany)</a><br>
              <a href="https://verticals.marketolive.com/predictive-content?geo=au">https://verticals.marketolive.com/predictive-content?geo=au (Australia)</a><br>
              <a href="https://verticals.marketolive.com/predictive-content?geo=jp">https://verticals.marketolive.com/predictive-content?geo=jp (Japan)</a><br><br>
              
              <u>Industry Based</u><br>
              <a href="https://verticals.marketolive.com/predictive-content?industry=technology">https://verticals.marketolive.com/predictive-content?industry=technology</a><br>
              <a href="https://verticals.marketolive.com/predictive-content?industry=higher-education">https://verticals.marketolive.com/predictive-content?industry=higher-education </a><br>
              <a href="https://verticals.marketolive.com/predictive-content?industry=manufacturing">https://verticals.marketolive.com/predictive-content?industry=manufacturing</a><br>
              <a href="https://verticals.marketolive.com/predictive-content?industry=travel">https://verticals.marketolive.com/predictive-content?industry=travel</a><br>
              <a href="https://verticals.marketolive.com/predictive-content?industry=financial-services">https://verticals.marketolive.com/predictive-content?industry=financial-services</a><br>
              <a href="https://verticals.marketolive.com/predictive-content?industry=healthcare">https://verticals.marketolive.com/predictive-content?industry=healthcare</a><br><br>
              
              <u>Display Based</u><br>
              <a href="https://verticals.marketolive.com/predictive-content?display=dialog">https://verticals.marketolive.com/predictive-content?display=dialog</a><br>
              <a href="https://verticals.marketolive.com/predictive-content?display=widget">https://verticals.marketolive.com/predictive-content?display=widget</a><br>
              <a href="https://verticals.marketolive.com/predictive-content?display=form">https://verticals.marketolive.com/predictive-content?display=form</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}