{% extends "en/base.html" %}

{% block full_image %}
<html class="full" lang="en">
{% endblock %}

{% block head %}
<title>Welcome to Marketo Live</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bg-img-en-home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugin-update.css') }}">
{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-title">
      <img class="img-responsive title-img" src="{{ url_for('static', filename='marketo-live-image-white.png') }}">
    </div>
  </div>
  {% if partners %}
  <div class="row">
    <div class="col-sm-12 center-partners">
      <h1><em>For Partners</em></h1>
    </div>
  </div>
  {% endif %}
  <h5 class= "text-center">The Demo Services Team has released update 4.2.2 to the extension which is detailed below. If you have any questions please feel free to email <a href="mailto:marketolive@marketo.com?Subject=MarketoLive%20Extension%20Update%204.2.2">marketolive</a>.</h5>
  <div class="row update">
    
    <div class="col-lg-4 col-md-4 col-sm-4 ">
      <h4>MarketoLive Instance Tracking</h4>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                What is Changing?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              We are now tracking users uniquely in order to identify which programs, assets, and reports are being utilized.
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Why are we making this change?
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              This tracking is explicitly for the purposes of prioritizing resources for the creation and maintenance of assets within the MarketoLive instance.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What data is being collected?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <ul class="unstyled">
                <li>Asset Name &nbsp;&nbsp;&nbsp;&nbsp; [Email (Modular)]</li>
                <li>Asset Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [Email]</li>
                <li>Asset ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [EM21424]</li>
                <li>Asset Area &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [Marketing Activities]</li>
                <li>Workspace ID &nbsp; [1]</li>
                <li>App &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [MarketoLive]</li>
                <li>URL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [https://app-sjp.marketo.com/#EM21424A1LA1]</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Who is this going to effect?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              All users of the MarketoLive extension (aka plugin)
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Where am I being tracked?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              ONLY on our MarketoLive instance (mktodemoaccount106)
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                When is this change taking effect?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              Immediately
            </div>
          </div>
        </div>

      </div>
      
    </div>

    <!-- Background Demo Data Submission Section-->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h4>Background Demo Data Submission</h4>
      <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                What is Changing?
              </a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              We are now leveraging user information to create people (aka lead) records within our MarketoLive instance.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
                Why are we making this change?
              </a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <p>In order to meet the folowing demo data requirements:</p>
              <ul class="unstyled">
                <li>Real, pronounceable names</li>
                <li>Diverse set of names from around the world</li>
                <li>Organic growth of people flowing through the campaigns and automations</li>
                <li>Organic decay of people's activities</li>
              </ul>
              <p>In order to solve the following demo challenges:</p>
              <ul class="unstyled">
                <li>Realistic distribution of times/days that pages are being visited and forms are being filled out</li>
                <li>Realistic order of page visits (e.g. first Lead Capture then Preference Center)</li>
                <li>Realisitcs rate of page visits (e.g. not simply once every day per person)</li>
                <li>Realistic form conversion rates</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                What information is being leveraged?
              </a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <ul class="unstyled">
                <li>First Name &nbsp; [Brian]</li>
                <li>Last Name &nbsp; [Fisher]</li>
                <li>User ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [bfisher]</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse4" aria-expanded="false" aria-controls="collapseFour">
                Who is the going to effect?
              </a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              All INTERNAL users of the MarketoLive extension (this excludes partners).
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse5" aria-expanded="false" aria-controls="collapseFive">
                Where is this information shared??
              </a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              ONLY with our MarketoLive instance people (aka lead) database.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse6" aria-expanded="false" aria-controls="collapseSix">
                When is this change taking effect?
              </a>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              Immediately
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
    
  </div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}
