{% extends "en/base.html" %}

{% block full_image %}
<html class="full" lang="en">
{% endblock %}

{% block head %}
<title>MarketoLive Privacy Policy</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bg-img-en-home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugin-update.css') }}">
<style type="text/css">
  .update {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 25px;
    bottom: inherit;
  }
</style>
{% endblock %}

{% block page_content %}
  <h5 class= "text-center">The Demo Services Team invites you to read the MarketoLive privacy policy below. If you have any questions please email <a href="mailto:marketolive@marketo.com?Subject=MarketoLive%20Privacy%20Policy">MarketoLive</a>.</h5>
  <div class="row update">
    
    <!-- MarketoLive Instance Tracking Section -->
    <div class="col-lg-4 col-md-4 col-sm-4 ">
      <h4>MarketoLive Instance Tracking</h4>
      <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion1_heading1">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_collapse1" aria-expanded="true" aria-controls="accordion1_collapse1">
                What is instance tracking?
              </a>
            </h4>
          </div>
          <div id="accordion1_collapse1" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion1_heading1">
            <div class="panel-body">
              We are now tracking users uniquely in order to identify which programs, assets, and reports are being utilized.
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion1_heading2">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_collapse2" aria-expanded="true" aria-controls="accordion1_collapse2">
                How is this tracking data being used?
              </a>
            </h4>
          </div>
          <div id="accordion1_collapse2" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion1_heading2">
            <div class="panel-body">
              This tracking is explicitly for the purposes of prioritizing resources for the creation and maintenance of assets within the MarketoLive instance.
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion1_heading3">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_collapse3" aria-expanded="true" aria-controls="accordion1_collapse3">
                What data is being collected?
              </a>
            </h4>
          </div>
          <div id="accordion1_collapse3" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion1_heading3">
            <div class="panel-body">
              <ul>
                <li>Asset Name &nbsp;&nbsp;&nbsp;&nbsp; [Email (Modular)]</li>
                <li>Asset Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [Email]</li>
                <li>Asset ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [EM21424]</li>
                <li>Asset Area &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [Marketing Activities]</li>
                <li>Workspace ID &nbsp; [1]</li>
                <li>App &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [MarketoLive]</li>
                <li>URL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [https://app-sjp.marketo.com/#EM21424A1LA1]</li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion1_heading4">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_collapse4" aria-expanded="true" aria-controls="accordion1_collapse4">
                Who is being tracked?
              </a>
            </h4>
          </div>
          <div id="accordion1_collapse4" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion1_heading4">
            <div class="panel-body">
              All users of the MarketoLive extension (aka plugin).
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion1_heading5">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_collapse5" aria-expanded="true" aria-controls="accordion1_collapse5">
                Where am I being tracked?
              </a>
            </h4>
          </div>
          <div id="accordion1_collapse5" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion1_heading5">
            <div class="panel-body">
              <p><u>Only on our MarketoLive instances</u></p>
              <ul>
                <li>mktodemoaccount106 &nbsp;&nbsp;&nbsp; (Internal)</li>
                <li>mktodemoaccount106d &nbsp; (Partner)</li>
                <li>mktodemolivemaster &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Reloaded - New Internal &amp; Partner)</li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <!-- Background Demo Data Submission Section -->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h4>Background Demo Data Submission</h4>
      <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion2_heading1">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_collapse1" aria-expanded="true" aria-controls="accordion2_collapse1">
                What is background demo data submission?
              </a>
            </h4>
          </div>
          <div id="accordion2_collapse1" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion2_heading1">
            <div class="panel-body">
              We are now leveraging user information to create people (aka lead) records within our MarketoLive instance.
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion2_heading2">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_collapse2" aria-expanded="true" aria-controls="accordion2_collapse2">
                How is this demo data being used?
              </a>
            </h4>
          </div>
          <div id="accordion2_collapse2" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion2_heading2">
            <div class="panel-body">
              <p><u>In order to meet the folowing demo data requirements</u></p>
              <ul>
                <li>Real, pronounceable names</li>
                <li>Diverse set of names from around the world</li>
                <li>Organic growth of people flowing through the campaigns and automations</li>
                <li>Organic decay of people's activities</li>
              </ul>
              <p><u>In order to solve the following demo challenges</u></p>
              <ul>
                <li>Realistic distribution of times/days that pages are being visited and forms are being filled out</li>
                <li>Realistic order of page visits (e.g. first Lead Capture then Preference Center)</li>
                <li>Realisitcs rate of page visits (e.g. not simply once every day per person)</li>
                <li>Realistic form conversion rates</li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion2_heading3">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_collapse3" aria-expanded="true" aria-controls="accordion2_collapse3">
                What personal information is being leveraged?
              </a>
            </h4>
          </div>
          <div id="accordion2_collapse3" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion2_heading3">
            <div class="panel-body">
              <ul>
                <li>First Name &nbsp; [Brian]</li>
                <li>Last Name &nbsp; [Fisher]</li>
                <li>User ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [bfisher]</li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion2_heading4">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_collapse4" aria-expanded="true" aria-controls="accordion2_collapse4">
                Who is contributing this demo data?
              </a>
            </h4>
          </div>
          <div id="accordion2_collapse4" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion2_heading4">
            <div class="panel-body">
              All <u>internal</u> users of the MarketoLive extension and Marketo's OneLogin app, <b>this excludes partners</b>.
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion2_heading5">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_collapse5" aria-expanded="true" aria-controls="accordion2_collapse5">
                Where is this information shared?
              </a>
            </h4>
          </div>
          <div id="accordion2_collapse5" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion2_heading5">
            <div class="panel-body">
              Only within our MarketoLive instance people (aka lead) database.
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <!-- Extension & Other Tracking Section -->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h4>Extension &amp; Other Tracking</h4>
      <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion3_heading1">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_collapse1" aria-expanded="true" aria-controls="accordion3_collapse1">
                What is extension tracking?
              </a>
            </h4>
          </div>
          <div id="accordion3_collapse1" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion3_heading1">
            <div class="panel-body">
              We are now tracking users uniquely in order to identify which features of the extension and which Marketo demo instances are being utilized.
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion3_heading2">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_collapse2" aria-expanded="true" aria-controls="accordion3_collapse2">
                How is this tracking data being used?
              </a>
            </h4>
          </div>
          <div id="accordion3_collapse2" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion3_heading2">
            <div class="panel-body">
              This tracking is explicitly for the purposes of prioritizing resources for the creation and maintenance of demo features and tools provided.
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion3_heading3">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_collapse3" aria-expanded="true" aria-controls="accordion3_collapse3">
                What data is being collected?
              </a>
            </h4>
          </div>
          <div id="accordion3_collapse3" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion3_heading3">
            <div class="panel-body">
              <p><u>MarketoLive Extension Events</u></p>
                <ul>
                  <li>Loads</li>
                  <li>Installs</li>
                  <li>Updates</li>
                  <li>Custom Company Tool Usage</li>
                  <li>Privileges Tool Usage</li>
                  <li>Clicks in Popup Window</li>
                </ul>
              <p><u>Web Page Events</u></p>
                <ul>
                  <li>Marketo Demo Instance Page Loads</li>
                  <li>OneLogin Page Loads</li>
                  <li>Mass Cloning Tool Usage</li>
                </ul>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion3_heading4">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_collapse4" aria-expanded="true" aria-controls="accordion3_collapse4">
                Who is being tracked?
              </a>
            </h4>
          </div>
          <div id="accordion3_collapse4" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion3_heading4">
            <div class="panel-body">
              All users of the MarketoLive extension (aka plugin).
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion3_heading5">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_collapse5" aria-expanded="true" aria-controls="accordion3_collapse5">
                Where am I being tracked?
              </a>
            </h4>
          </div>
          <div id="accordion3_collapse5" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel" aria-labelledby="accordion3_heading5">
            <div class="panel-body">
              <p><u>Only on Marketo Demo Instances</u></p>
              <ul>
                <li>mktodemoaccount[0-9][0-9][0-9]</li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion3_heading6">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_collapse6" aria-expanded="false" aria-controls="accordion3_collapse6">
                Extension Permissions
              </a>
            </h4>
          </div>
          <div id="accordion3_collapse6" class="panel-collapse collapse" aria-expanded="false" role="tabpanel" aria-labelledby="accordion3_heading6">
            <div class="panel-body">
              <p><u><a href="https://developer.chrome.com/extensions/declare_permissions">Declared Permissions</a></u></p>
              <ul>
                <li>Manage the list of extensions/apps that are installed and running</li>
                <li>Store, retrieve, and track changes to user data</li>
                <li>Observe and analyze traffic and to intercept or modify requests in-flight</li>
                <li>Oserve and analyze traffic and to block requests in-flight</li>
                <li>Receive notifications about the status of navigation requests in-flight</li>
                <li>Interact with the browser's tab system to create, modify, and rearrange tabs</li>
                <li>Query and modify cookies, and to be notified when they change</li>
                <li>Temporary access to the currently active tab when the user invokes the extension</li>
                <li>Create rich notifications and show these notifications to users in the system tray</li>
                <li>Remove browsing data from a user's local profile</li><br>
                <p><u>Only for the following hosts</u></p>
                <ul>
                  <li>*.marketo.com/*</li>
                  <li>*.marketodesigner.com/*</li>
                  <li>pages.marketolive.com/*</li>
                  <li>dev.pages.marketolive.com/*</li>
                  <li>marketolive.com/*</li>
                  <li>www.marketolive.com/*</li>
                  <li>dev.marketolive.com/*</li>
                  <li>verticals.marketolive.com/*</li>
                  <li>dev.verticals.marketolive.com/*</li>
                  <li>250ok.com/*</li>
                  <li>toutapp.com/*</li>
                  <li>marketo.invisionapp.com/*</li>
                  <li>marketo.onelogin.com/*</li>
                  <li>mail.google.com/*</li>
                  <li>www.google.com.au/search?dynamicAd=true&*</li>
                  <li>www.google.de/search?dynamicAd=true&*</li>
                  <li>www.google.fr/search?dynamicAd=true&*</li>
                  <li>www.google.ie/search?dynamicAd=true&*</li>
                  <li>www.google.co.il/search?dynamicAd=true&*</li>
                  <li>www.google.co.jp/search?dynamicAd=true&*</li>
                  <li>www.google.co.uk/search?dynamicAd=true&*</li>
                  <li>www.google.com/search?dynamicAd=true&*</li>
                  <li>www.facebook.com/?dynamicAd=true&*</li>
                  <li>www.linkedin.com/feed/?dynamicAd=true&*</li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}