{% extends "en/base.html" %}

{% block head %}
<title>Customer Base Marketing - Marketo</title>
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bg-black.css') }}"> -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer-base-marketing.css') }}">
{% endblock %}

{% block body_tag %}
<body class="full">
{% endblock %}


{% block page_content %}
<div class="row">
  <div class="col-sm-12">
  <div class="row headline-container">
      <h1 class="headline">Customer Base Marketing</h1>
  </div>
    <ul class='circle-container'>
      <li>
        <a data-toggle='modal' data-target='#target-growth-opportunities'>
          <img class="img-bg-color" src="{{ url_for('static', filename='target-purple.png') }}">
          <span class="text-content"><span>Target Growth Opportunities</span></span>
        </a>
      </li>
      <li>
        <a data-toggle='modal' data-target='#focus-sales-on-their-best-bets'>
          <img class="img-bg-color" src="{{ url_for('static', filename='eye-test-purple.png') }}">
          <span class="text-content"><span>Focus Sales on Best Bets</span></span>
        </a>
      </li>
      <li>
        <a data-toggle='modal' data-target='#measure-marketings-impact-on-growth'>
          <img class="img-bg-color" src="{{ url_for('static', filename='measure-purple.png') }}">
          <span class="text-content"><span>Measure Marketing's Impact</span></span>
        </a>
      </li>
      <li>
        <a data-toggle='modal' data-target='#sell-more-to-existing-customers'>
          <img class="img-bg-color" src="{{ url_for('static', filename='upsell-purple.png') }}">
          <span class="text-content"><span>Upsell/Cross-sell Existing Customers</span></span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="sell-more-to-existing-customers"class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Sell More to Existing Customers</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">        
            <a href="#" class="deeplink" target="_blank" deeplink="search-optimization">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='search-optimization-guide-option-img-purp.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='search-optimization-guide-option-img-orange.png') }}">
                </div>
                <p>Search Optimization</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="#" class="deeplink" target="_blank" deeplink="diy-design">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='diy_design.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='diy_design_orange.png') }}">
                </div>
                <p>DIY Design</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="#" class="deeplink" target="_blank" deeplink="powerful-automation">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='powerful-automation-purple.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='powerful-automation-orange.png') }}">
                </div>
                <p>Powerful Automation</p>
              </div>
            </a>
          </div>
        </div>
        <div class="row second-row">
          <div class="col-sm-5 col-sm-offset-1">        
            <a href="#" class="deeplink" target="_blank" deeplink="web-personalization">      
              <div class="circle">
                <div class="noun-padding">
                  <img class="img-responsive" src="{{ url_for('static', filename='web-personalization-purple.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='web-personalization-orange.png') }}">
                </div>
                <p>Web Personalization</p>
              </div>
            </a>
          </div>
          <div class="col-sm-5">
            <a href="#" class="deeplink" target="_blank" deeplink="ad-targeting">
              <div class="circle">
                <div class="noun-padding">
                  <img class="img-responsive" src="{{ url_for('static', filename='ad-targeting-purple.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='ad-targeting-orange.png') }}">
                </div>
                <p>Ad Targeting</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="target-growth-opportunities"class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Target Your Best Growth Opportunities</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">        
            <a href="#" class="deeplink" target="_blank" deeplink="search-optimization">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='search-optimization-guide-option-img-purp.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='search-optimization-guide-option-img-orange.png') }}">
                </div>
                <p>Search Optimization</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="#" class="deeplink" target="_blank" deeplink="diy-design">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='diy_design.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='diy_design_orange.png') }}">
                </div>
                <p>DIY Design</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="#" class="deeplink" target="_blank" deeplink="powerful-automation">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='powerful-automation-purple.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='powerful-automation-orange.png') }}">
                </div>
                <p>Powerful Automation</p>
              </div>
            </a>
          </div>
        </div>
        <div class="row second-row">
          <div class="col-sm-4">        
            <a href="#" class="deeplink" target="_blank" deeplink="web-personalization">      
              <div class="circle">
                <div class="noun-padding">
                  <img class="img-responsive" src="{{ url_for('static', filename='web-personalization-purple.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='web-personalization-orange.png') }}">
                </div>
                <p>Web Personalization</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="#" class="deeplink" target="_blank" deeplink="ad-targeting">
              <div class="circle">
                <div class="noun-padding">
                  <img class="img-responsive" src="{{ url_for('static', filename='ad-targeting-purple.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='ad-targeting-orange.png') }}">
                </div>
                <p>Ad Targeting</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="#" class="deeplink" target="_blank" deeplink="account-based-web-marketing">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='account-based-marketing-purple.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='account-based-marketing-orange.png') }}">
                </div>
                <p>ABM</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="focus-sales-on-their-best-bets"class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Focus Sales on their Best Bets</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">        
            <a href="#" class="deeplink" target="_blank" deeplink="lead-scoring">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='lead-scoring-purple.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='lead-scoring-orange.png') }}">
                </div>
                <p>Lead Scoring</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4">        
            <a href="#" class="deeplink" target="_blank" deeplink="actionable-insight">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='actionable-insight-img-purp.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='actionable-insight-img-orange.png') }}">
                </div>
                <p>Actionalble Insight</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="#" class="deeplink" target="_blank" deeplink="sales-alerts">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='sales-alert-purple.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='sales-alert-orange.png') }}">
                </div>
                <p>Sales Alerts</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="measure-marketings-impact-on-growth"class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Measure Marketing's Impact on Growth</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">        
            <a href="#" class="deeplink" target="_blank" deeplink="program-analysis">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='marketing-roi-guide-option-img-purp.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='marketing-roi-guide-option-img-orange.png') }}">
                  <p>Program Analysis</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="#" class="deeplink" target="_blank" deeplink="lifecycle-modeler">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='funnel-analysis-guide-option-img-purp.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='funnel-analysis-guide-option-img-orange.png') }}">
                </div>
                <p>Lifecycle Modeler</p>
              </div>
            </a>
          </div>
          <div class="col-sm-6 second-row">
            <a href="#" class="deeplink" target="_blank" deeplink="advanced-report-builder">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='flexible-reporting-guide-option-img-purp.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='flexible-reporting-guide-option-img-orange.png') }}">
                </div>
                <p>Advanced Reporting</p>
              </div>
            </a>
          </div>
          <div class="col-sm-6 second-row">
            <a href="#" class="deeplink" target="_blank" deeplink="marketing-calendar">      
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='calendar-guide-option-img-purp.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='calendar-guide-option-img-orange.png') }}">
                </div>
                <p>Marketing Calendar</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='icon-toggle.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='customer-base-marketing.js') }}" type="text/javascript"></script>
{% endblock %}