{% extends "en/base.html" %}

{% block full_image %}
<html lang="en">
{% endblock %}

{% block head %}
<title>Email Marketing - Marketo</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bg-black.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='email-marketing.css') }}">
{% endblock %}

{% block body_tag %}
<body class="full">
{% endblock %}

  {% block page_content %}
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="rectangle"></div>
    </div>
    <div class="col-sm-4">
      <div class="rectangle"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="rectangle"></div>
    </div>
    <div class="col-sm-4">
      <div class="rectangle"></div>
    </div>
  </div>
  {% endblock %}
