{% extends "en/base.html" %}
​
{% block full_image %}
<html lang="en" id="email_marketing">
{% endblock %}
​
{% block head %}
<title babel-id="email_marketing_marketo" babel-type="text">#</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='email-marketing.css') }}">
{% endblock %}
​
{% block body_tag %}
<body class="full">
{% endblock %}
​
  {% block page_content %}
  <div class="row headline-container">
    <h1 babel-id="email_marketing" babel-type="text" class="headline">#</h1>
  </div>
  <div class="row">
    <div class="row-content col-sm-10 col-sm-offset-1">
      <div class="col-sm-12">
        <div class="row rectangle-title">
          <h2 babel-id="attract_design" babel-type="text">#</h2>
        </div>
        <div class="row">
          <div class="col-sm-4">        
            <a href="#" class="deeplink" target="_blank" babel-type="link" babel-id="search_optimization">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='search-optimization-guide-option-img-purp.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='search-optimization-guide-option-img-orange.png') }}">
                </div>
                <p babel-id="search_optimization" babel-type="text">#</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4" id="diy_design">
            <a href="#" class="deeplink" target="_blank" babel-id="diy_design" babel-type="link">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='diy_design.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='diy_design_orange.png') }}">
                </div>
                <p babel-id="diy_design" babel-type="text">#</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4" id="social_marketing">        
            <a href="#" class="deeplink" target="_blank" babel-id="social_marketing" babel-type="link">
              <div class="circle">
                <div class="noun-padding">
                  <img class="img-responsive" src="{{ url_for('static', filename='social-promotions-purple.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='social-promotions-orange.png') }}">
                </div>
                <p babel-id="social_marketing" babel-type="text">#</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 row-container">
      <div class="col-sm-12 rectangle">
        <div class="row rectangle-title-container">
        </div>
      </div>
    </div>
    <div class="second-row-content col-sm-10 col-sm-offset-1">
      <div class="col-sm-12">
        <div class="row rectangle-title">
          <h2 babel-id="test_send_nurture" babel-type="text">#</h2>
        </div>
        <div class="row">
          <div class="col-sm-4" id="powerful_automation">
            <a href="#" class="deeplink" target="_blank" babel-id="powerful_automation" babel-type="link">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='powerful-automation-purple.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='powerful-automation-orange.png') }}">
                </div>
                <p babel-id="powerful_automation" babel-type="text">#</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4" id="ab_testing">
            <a href="#" class="deeplink" target="_blank" babel-id="ab_testing" babel-type="link">
              <div class="circle circle-second-row">
                <div class="noun-padding">
                  <img class="img-responsive" src="{{ url_for('static', filename='ab-testing.png') }}">
                </div>
                <p babel-id="ab_testing" babel-type="text">#</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4" id="intelligent_nurturing">        
            <a href="#" class="deeplink" target="_blank" babel-id="intelligent_nurturing" babel-type="link">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='nurture.png') }}">
                </div>
                <p babel-id="intelligent_nurturing" babel-type="text">#</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 second-row-container">
      <div class="col-sm-12 rectangle">
        <div class="row rectangle-title-container">
        </div>
      </div>
    </div>
    <div id="third-row-content" class="row-content col-sm-10 col-sm-offset-1">
      <div class="col-sm-12">
        <div class="row rectangle-title">
          <h2 babel-id="report_repeat" babel-type="text">#</h2>
        </div>
        <div class="row">
          <div class="col-sm-4" id="email_insights">
            <a data-toggle="modal" data-target="#email-insights-options">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='email-insights.png') }}">
                </div>
                <p babel-id="email_insights" babel-type="text">#</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4" id="program_analysis">
            <a href="#" class="deeplink" target="_blank" babel-id="program_analysis" babel-type="link">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='marketing-roi-guide-option-img-purp.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='marketing-roi-guide-option-img-orange.png') }}">
                </div>
                <p babel-id="program_analysis" babel-type="text">#</p>
              </div>
            </a>
          </div>
          <div class="col-sm-4" id="marketing_calendar">
            <a href="#" class="deeplink" target="_blank" babel-id="marketing_calendar" babel-type="link">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='calendar-guide-option-img-purp.png') }}">
                  <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='calendar-guide-option-img-orange.png') }}">
                </div>
                <p babel-id="marketing_calendar" babel-type="text">#</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="third-row-container" class="col-sm-10 col-sm-offset-1 row-container">
      <div class="col-sm-12 rectangle">
        <div class="row rectangle-title-container">
        </div>
      </div>
    </div>
  </div>
​
  <div id="email-insights-options" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Choose Your Email Insights Demo</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">        
            <a href="#" class="deeplink" target="_blank" deeplink="email-insights-summit-demo-1" babel-id="" babel-type="link">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='email-insights.png') }}">
                  <p>Summit Demo 1</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-5">
            <a href="#" class="deeplink" target="_blank" deeplink="email-insights-summit-demo-2" babel-id="" babel-type="link">
              <div class="circle">
                <div>
                  <img class="img-responsive" src="{{ url_for('static', filename='email-insights.png') }}">
                </div>
                <p>Exploration Scenario</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  {% endblock %}
​
{% block scripts %}
<script src="{{ url_for('static', filename='icon-toggle.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='email-marketing-babel.js') }}" type="text/javascript"></script>
{% endblock %}