{% extends "/en/base.html" %}

{% block full_image %}
<html lang="en">
{% endblock %}

{% block head %}
<head>
	<link href="{{ url_for('static', filename='lead-management.css') }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bg-black.css') }}">
	<title>Marketo Lead Management</title>
{% endblock %}
</head>


{% block page_content %}
	<body class="full">

		<h2 class="text-center headline">Marketo Lead Management</h2>

		<div class= "flex full-funnel">
			<div>
				<h3>Top of Funnel (TOFU)</h3>
				<img class="tofu-image" src="{{ url_for('static', filename='tofu-purp.png') }}" />
			</div>

			<div>
				<h3 class="text-center">Middle of Funnel (MOFU)</h3>
				<img class="mofu-image"src="{{ url_for('static', filename='mofu-purp.png') }}" />
			</div>

			<div>
				<h3>Bottom of Funnel (BOFU)</h3>
				<img class="bofu-image" src= "{{ url_for('static', filename='bofu-purp.png') }}" />
			</div>
		</div>


	


	

	<div class="tofu absolute">
		<div class="tofu-container">
			<div class="features">
				<img class="img-responsive" src="{{ url_for('static', filename='search-optimization-guide-option-img-purp.png') }}">
	            <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='search-optimization-guide-option-img-orange.png') }}">
	            <!-- <p>Search Optimization</p> -->
			</div>
			<div class="features">
				<img class="img-responsive" src="{{ url_for('static', filename='web-personalization-purple.png') }}">
	            <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='web-personalization-orange.png') }}">
	            <!-- <p>Real Time Personalization</p> -->
			</div>
			<div class="features">
				<img class="img-responsive" src="{{ url_for('static', filename='diy_design.png') }}">
	            <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='diy_design_orange.png') }}">
				<!-- <p>DIY Design</p> -->
			</div>
		</div>
		<div class="flex arrow-container">
			<img class="arrow" src="{{ url_for('static', filename='downarrow.png') }}" />
			<img style="display: none;" class="arrow" src="{{ url_for('static', filename='downarrow-purp.png') }}" />
		</div>
	</div>

	<div class="mofu absolute">
		<div class="mofu-container">
			<div class="features">
				<img class="img-responsive" src="{{ url_for('static', filename='powerful-automation-guide-option-img-purp.png') }}">
	            <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='powerful-automation-guide-option-img-orange.png') }}">
				<!-- <p>Powerful Automation</p> -->
			</div>
			<div class="features">
				<img class="img-responsive" src="{{ url_for('static', filename='nurture.png') }}">
	            <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='nurture_orange.png') }}">
				<!-- <p>Customer Engagement Engine</p> -->
			</div>		
			<div class="features">
				<img class="img-responsive" src="{{ url_for('static', filename='replicate_success.png') }}">
	            <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='replicate_success_orange.png') }}">
				<!-- <p>Replicate Success</p> -->
			</div>
		</div>
		<div class="flex arrow-container">
			<img class="arrow" src="{{ url_for('static', filename='downarrow.png') }}" />
			<img style="display: none;" class="arrow" src="{{ url_for('static', filename='downarrow-purp.png') }}" />
		</div>
	</div>

	<div class="bofu absolute">
		<div class="features">
			<img class="img-responsive" src="{{ url_for('static', filename='actionable-insight-guide-option-img-purp.png') }}">
            <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='actionable-insight-guide-option-img-orange.png') }}">
			<!-- <p>Actionable Insight</p> -->
		</div>
		<div class="features hidden">
			<img class="img-responsive" src="{{ url_for('static', filename='marketing-roi-guide-option-img-purp.png') }}">
            <img style="display:none;" class="img-responsive" src="{{ url_for('static', filename='marketing-roi-guide-option-img-orange.png') }}">
			<!-- <p>Marketing ROI</p> -->
		</div>
		<div class="flex arrow-container">
			<img class="arrow" src="{{ url_for('static', filename='downarrow.png') }}" />
			<img style="display: none;" class="arrow" src="{{ url_for('static', filename='downarrow-purp.png') }}" />
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='lead-management.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>