{% extends "/jp/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}

<head>
  <link href="{{ url_for('static', filename='lead-managment.css') }}" rel="stylesheet">
  <title>Marketoリード管理</title>

{% block lang_nav %}
<ul class="dropdown-menu">
    <li><a href="/en/{{page}}">English</a></li>
    <li><a href="/jp/{{page}}">日本語（日本）</a></li>
</ul>
{% endblock %}

{% endblock %}
</head>

<body>
{% block page_content %}


  <h2 class="text-center"><u>Marketoリード管理</u></h2>

  <div class= "flex full-funnel">
    <h3>ファンネルのトップ (TOFU)</h3>
    <h3>ファンネルの中央 (MOFU)</h3>
    <h3>漏斗の底 (BOFU)</h3>
  </div>

  
  <div class="funnel-container flex">
    
      <img class="tofu-image image-responsive" src="{{ url_for('static', filename='tofu-purp.png') }}" />
    
      <img class="mofu-image image-responsive"src="{{ url_for('static', filename='mofu-purp.png') }}" />
    
      <img src="../static/bofu-purp.png" />
    

  </div>
  

  <div class="row tofu relative">
    <div class="flex features">
      <p>SEO</p>
    </div>
    <div class="flex features">
      <p>RTP</p>
    </div>
    <div class="flex features">
      <p>DIY Design</p>
    </div>
    <div class="flex arrow-container">
      <img class="arrow" src="{{ url_for('static', filename='downarrow-purp.png') }}" />
    </div>
  </div>

  <div class="row mofu relative">
    <div class="flex features">
      <p>Powerful Automation</p>
    </div>
    <div class="flex features">
      <p>Customer Engagement Engine</p>
    </div>
    <div class="flex arrow-container">
      <img class="arrow" src="{{ url_for('static', filename='downarrow-purp.png') }}" />
    </div>
    <div class="flex features hidden">
      <p>Replicate Success</p>
    </div>
  </div>

  <div class="row bofu relative">
    <div class="flex features">
      <p>Actionable Insight</p>
    </div>
    <div class="flex arrow-container">
      <img class="arrow" src="{{ url_for('static', filename='downarrow-purp.png') }}" />
    </div>
    <div class="flex features hidden">
      <p>Marketing ROI</p>
    </div>
  </div>


{% endblock %}
</body>
</html>